.icon-48-v1ewershipnetworkshares {
      background-image: url(../images/l_v1ewershipnetworkshares.png);
      padding-left:60px!important;
}

.icon-48-v1ewershipnetworkshare {
      background-image: url(../images/l_v1ewershipnetworkshares.png);
      padding-left:60px!important;
}

.color-box-v1ewershipnetworkshares { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}



.other-filters{
    padding: 0 14px;
}