body {
    background: #ccc;
}

div.logo-wrapper {
    padding-top: 10px;
}

img#logo-click {
    width: 100px;
}

.modal p, .modal ul li {
    font-size: 16px;
    line-height: 1.3;
}

.button-wrapper {
    padding-top: 12px;
}

.share-button-container {
    /*overflow: hidden;*/
    position: relative;
}

.addthis_inline_share_toolbox {
    display: inline-block;
    vertical-align: bottom;
}

.com_quake_club_2020_raya .btn-submit {
    border-radius: 25px;
    height: 40px;
    line-height: 40px;
    padding-top: 0;
    padding-bottom: 0;
}

.btn-submit.mute-btn-wrapper,
.btn-submit.mute-btn-wrapper:active {
    padding: 0px;
}
/*
.mute-btn-wrapper {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 9999;
}
*/
a.mute-btn {
    display: block;
    width: 40px;
    height: 40px;

    background: url('../img/mute-icon.png') left top no-repeat;
    background-size: cover;
    text-indent: -9999px;
    transition: none;
}

a.mute-btn.mute {
    background-position: left bottom; 
}

.com_quake_club_2020_raya .btn-submit {
    background: linear-gradient(135deg, rgb(23, 129, 80) 22%, rgb(32, 121, 102) 72%);
}
.com_quake_club_2020_raya .btn-submit:active {
    background: linear-gradient(135deg, rgb(23, 129, 80) 22%, rgb(32, 121, 102) 72%) !important;
    padding-top: 0px;
    padding-bottom: 0px;
}

#middle-content-height {
    padding-top: 10px;
    max-height: 85%;
}

#nav-left, 
#nav-right {
    height: 100px;
}

#nav-left i, 
#nav-right i {
    background: rgba(0,0,0,0.5);
    padding: 10px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.com_quake_club_2020_raya .at-icon-wrapper.at-share-btn {
    /*background: linear-gradient(135deg, rgb(23, 129, 80) 22%, rgb(32, 121, 102) 72%) !important;*/
    border-radius: 25px !important;
    color: #fff;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    padding: 10px 20px;
    margin: 12px 0;
    margin-right: 0.5rem;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.5;
}
.com_quake_club_2020_raya .at-resp-share-element .at-share-btn .at-label {
    font-size: 12px !important;
    font-weight: bold !important;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    display: none;
}

.share-title {
    padding: 10px 0px;
    margin: 0px;
    margin-right: 0.5rem;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.5;
}

.com_quake_club_2020_raya .addthis_inline_share_toolbox, 
.share-title {
    display: inline-block;
    vertical-align: top;
    color: black;
}

.share-title {
    padding: 5px 0px;
    margin-right: 0px;
    vertical-align: bottom;
}

.com_quake_club_2020_raya .mr-2,
.com_quake_club_2020_raya .mx-2,
.com_quake_club_2020_raya .mt-2,
.com_quake_club_2020_raya .my-2 {
    vertical-align: top;
}

/* ========== SLIDER ========== */
/*
#flipbook {
    background: url('../img/main-bg.jpg') center center no-repeat;
    background-size: cover;
}
#flipbook::before {
    content: '';
    width: 100%;
    height: 100%;
    background: url('../img/overlay-bg.png') left top no-repeat;
    background-size: 100% 100%;
    pointer-events: none;

    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 6;
}
*/

body {
    background: url('../img/main-bg.jpg') center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
body::before {
    content: '';
    width: 100%;
    height: 100%;
    background: url('../img/overlay-bg.png') left top no-repeat;
    background-size: 100% 100%;
    pointer-events: none;

    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 6;
}

.flipbook-header img {
    display: block;
    margin: 0px auto;
    margin-bottom: -10px;
    height: 150px;
}

.com_quake_club_2020_raya .shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.45)!important;
}

.com_quake_club_2020_raya #flipbook .odd,
.com_quake_club_2020_raya #flipbook .even {
    box-shadow: none;
}

.flipbook .cny-box-img-1 {
    background-image:url('../img/slide-01.jpg') !important;
}
.flipbook .cny-box-img-2 {
    background-image:url('../img/slide-02.jpg') !important;
}
.flipbook .cny-box-img-3 {
    background-image:url('../img/slide-03.jpg') !important;
}
.flipbook .cny-box-img-4 {
    background-image:url('../img/slide-04.jpg') !important;
}
.flipbook .cny-box-img-5 {
    background-image:url('../img/slide-05.jpg') !important;
}
.flipbook .cny-box-img-6 {
    background-image:url('../img/slide-06.jpg') !important;
}
.flipbook .cny-box-img-7 {
    background-image:url('../img/slide-07.jpg') !important;
}
.flipbook .cny-box-img-8 {
    background-image:url('../img/slide-08.jpg') !important;
}
.flipbook .cny-box-img-9 {
    background-image:url('../img/slide-09.jpg') !important;
}
.flipbook .cny-box-img-10 {
    background-image:url('../img/slide-10.jpg') !important;
}
.flipbook .cny-box-img-11 {
    background-image:url('../img/slide-11.jpg') !important;
}
.flipbook .cny-box-img-12 {
    background-image:url('../img/slide-12.jpg') !important;
}
.flipbook .cny-box-img-13 {
    background-image:url('../img/slide-13.jpg') !important;
}
.flipbook .cny-box-img-14 {
    background-image:url('../img/slide-14.jpg') !important;
}
.flipbook .cny-box-img-15 {
    background-image:url('../img/slide-15.jpg') !important;
}
/*
i.arrow {
    border: solid rgb(62, 19, 182);
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 3px;
    height: 30px;
    width: 30px;
    margin-top: -30px;
}

.rightArrow {
    float: right;
    transform: rotate(-45deg);
}
.leftArrow {
    float: left;
    transform: rotate(135deg);
}
.upArrow {
    transform: rotate(-135deg);
}
.downArrow {
    transform: rotate(45deg);
}*/
div.owl-theme.owl-carousel .owl-nav button.owl-next,
div.owl-theme.owl-carousel .owl-nav button.owl-prev,
i.arrow {
    display: block;
    width: 60px;
    height: 120px;
    margin-top: -60px;
    background: url('../img/btn-left.png') left top no-repeat;
    background-size: contain;
}
.leftArrow {
    float: left;
}
div.owl-theme.owl-carousel .owl-nav button.owl-next,
i.arrow.rightArrow {
    float: right;
    background: url('../img/btn-right.png') left top no-repeat;
    background-size: contain;
}
div.owl-theme.owl-carousel .owl-nav button.owl-prev,
div.owl-theme.owl-carousel .owl-nav button.owl-next {
    margin-top: 0px;
}
div.owl-theme.owl-carousel .owl-nav button.owl-prev {
    left: -70px;
}
div.owl-theme.owl-carousel .owl-nav button.owl-next {
    right: -70px;
}

.carousel-control {
    width: 432px;
    height: 0px;
    
    position: absolute;
    left: 50%;
    top: 58%;
    z-index: 5;

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.card-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.card-carousel .my-card {
    height: 20rem;
    width: 12rem;
    position: relative;
    z-index: 1;
    -webkit-transform: scale(0.6) translateY(-2rem);
    transform: scale(0.6) translateY(-2rem);
    opacity: 0;
    cursor: pointer;
    pointer-events: none;
    background: #2e5266;
    background: linear-gradient(to top, #2e5266, #6e8898);
    background: transparent;
    transition: 0.5s;

    pointer-events: none;
}
.card-carousel .my-card.active {
    pointer-events: auto;
}

.card-carousel .my-card.active {
    margin: 0px 60px;
    z-index: 3;
    -webkit-transform: scale(1) translateY(0) translateX(0);
    transform: scale(1) translateY(0) translateX(0);
    opacity: 1;
    pointer-events: auto;
    transition: 0.5s;
}
.card-carousel .my-card.no-animate {
    transition: none !important;
}

.card-carousel .my-card.prev, 
.card-carousel .my-card.next {
    z-index: 2;
    -webkit-transform: scale(0.8) translateY(-1rem) translateX(0);
    transform: scale(0.8) translateY(-1rem) translateX(0);
    opacity: 0.6;
    opacity: 1;
    filter: brightness(0.5);
    /*pointer-events: auto;*/
    transition: 0.5s;
}

.card-carousel .my-card img {
    display: block;
    max-width: 100%;
    pointer-events: none;
}

.card-carousel .my-card {
    width: 280px;
    height: auto;
}

.owl-carousel .owl-nav button.owl-next, 
.owl-carousel .owl-nav button.owl-prev {
    margin-top: -20px;
    border: none;
    outline: none;

    position: absolute;
    left: -50px;
    top: 50%;

    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.owl-carousel .owl-nav button.owl-next {
    left: auto;
    right: -50px;
}

.owl-carousel .owl-nav button.owl-next span,
.owl-carousel .owl-nav button.owl-prev span{
    /*line-height: 100%;*/
    display: block;
    font-size: 60px;
    line-height: 100%;
    color: white;

    -webkit-transform: scale(1.5, 1);
    -moz-transform: scale(1.5, 1);
    -ms-transform: scale(1.5, 1);
    -o-transform: scale(1.5, 1);
    transform: scale(1.5, 1);
}
div.owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent;
}

.popup-inner-content {
    /*height: 300px;*/
    /*line-height: 300px;*/
    /*background: #CCC;*/
}

.logo-wrapper {
    padding: 0px;
}

.d-inline-block {
    vertical-align: bottom;
}

.at-resp-share-element.at-mobile .at-share-btn{
    margin-bottom: 0px;
}

#expand-click,
#close-click {
    background: rgb(239,239,239);
}

.at-resp-share-element.at-mobile a.at-share-btn {
    margin-left: 0px;
}

.at-resp-share-element a.at-share-btn {
    margin-bottom: 0px;
}

.btn.btn-sm.btn-submit {
    height: 30px;
    padding: 0px 20px;
    line-height: 30px;
}

.btn.btn-sm.btn-submit.mute-btn-wrapper {
    padding: 0px;
}

a.mute-btn {
    width: 30px;
    height: 30px;
}

.card-popup .swal2-close {
    width: 70px;
    height: 70px;
    text-indent: -9999px;
    background: url('../img/btn-close.png') left top no-repeat;
/*
    -webkit-transform: translate(50%, -50%);
    -moz-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    -o-transform: translate(50%, -50%);
    transform: translate(50%, -50%);*/
}

.card-popup .swal2-popup {
    background: transparent;
    padding: 0px;
    width: 90%;
}

.card-popup .owl-theme .owl-nav {
    margin: 0px;
}

.card-popup .content-wrapper .owl-stage-outer {
    border-radius: 90px;
    overflow: hidden;
}

footer.btm-footer {
    display: none !important;
}

.warning {
    display: none;
    color: white;
    
    align-items: center;
    justify-content: center;
    
    min-height: 100vh;
    /*min-height: -webkit-fill-available;*/
}

.owl-carousel .owl-nav button.owl-next span, 
.owl-carousel .owl-nav button.owl-prev span {
    display: none;
}

div.owl-theme.owl-carousel .owl-nav button.owl-prev.disabled,
div.owl-theme.owl-carousel .owl-nav button.owl-next.disabled {
    display: none;
}

/* =========== POPUP FOOTER ========== */ 

.footer-icon-wrapper {
    width: 100%;
    pointer-events: none;

    position: absolute;
    left: 0px;
    bottom: -20px;
    z-index: 1;
}

.footer-icon-left,
.footer-icon-right {
    width: 200px;
    height: 150px;
    background: red;
    display: none;

    position: absolute;
    bottom: 0px;
}

.footer-icon-left {
    left: -20px;
}
.footer-icon-right {
    right: -20px;
}

.countdown .footer-icon-left,
.cooking .footer-icon-left,
.cgm20 .footer-icon-left {
    display: block;
    width: 260px;
    height: 210px;
    background: url('../img/footer-icon-01.png') left top no-repeat;
    background-size: cover;
}
.feng-shui .footer-icon-left,
.movie .footer-icon-left,
.digital .footer-icon-left {
    display: block;
    width: 260px;
    height: 220px;
    background: url('../img/footer-icon-07.png') left top no-repeat;
    background-size: cover;
}
.telemovie .footer-icon-left,
.radio .footer-icon-left {
    display: block;
    width: 220px;
    height: 250px;
    background: url('../img/footer-icon-03.png') left top no-repeat;
    background-size: cover;
}
.countdown .footer-icon-right {
    display: block;
    width: 210px;
    height: 170px;
    background: url('../img/footer-icon-02.png') left top no-repeat;
    background-size: cover;
}
.cooking .footer-icon-right,
.cgm20 .footer-icon-right {
    display: block;
    width: 190px;
    height: 220px;
    background: url('../img/footer-icon-04.png') left top no-repeat;
    background-size: cover;
}
.feng-shui .footer-icon-right,
.family .footer-icon-right,
.digital .footer-icon-right {
    display: block;
    width: 260px;
    height: 210px;
    background: url('../img/footer-icon-06.png') left top no-repeat;
    background-size: cover;
}
.variety .footer-icon-right,
.radio .footer-icon-right {
    display: block;
    width: 410px;
    height: 260px;
    background: url('../img/footer-icon-05.png') left top no-repeat;
    background-size: cover;
}

/* =========== end POPUP FOOTER ========== */ 

@media (min-height: 768px) {
    .flipbook-header img {
        height: 200px;
    }
}

@media (max-height: 768px) {
    .isDesktop #flipbook {
        margin-top: -40px;
    }
}

@media screen and (max-width: 960px) {
    img#logo-click {
        width: 50px;
        margin-bottom: 0px !important;
    }

    .mr-2, .mx-2, .mt-2, .my-2 {
        margin-right: 0px !important;
        margin-top: 0px !important;
    }

    .mt-5, .my-5 {
        margin-top: 0px !important;
    }

    .logo-wrapper {
        padding-right: 0px;
    }

    .button-wrapper {
        padding-left: 0px;
    }

    .com_quake_club_2020_raya .at-icon-wrapper.at-share-btn {
        padding: 10px;
        margin: 0px;
    }

    .com_quake_club_2020_raya .btn-submit {
        margin: 0px;
        padding: 0px 10px;
    }

    .com_quake_club_2020_raya .btn-submit:active{
        margin: 0px;
        padding: 0px 10px;/*
        transform: translateY(5px);
        transform: translateY(5px);
        transform: translateY(5px);
        transform: translateY(5px);
        transform: translateY(5px);*/
    }

    .com_quake_club_2020_raya .btn-submit.mute-btn-wrapper {
        padding: 0px;
    }

    .com_quake_club_2020_raya .body {
        padding: 10px 0px;
        display: flex;
        align-items: center;
    }

    .share-title {
        margin: 0;
        margin-right: 0.5rem;
    }
}

@media screen and (max-width: 800px) {
    .share-title {
        padding: 5px 0px;
    }

    .com_quake_club_2020_raya .at-icon-wrapper.at-share-btn {
        padding: 5px;
    }

    .com_quake_club_2020_raya .btn-submit {
        height: 30px;
        line-height: 30px;
    }

    a.mute-btn {
        width: 30px;
        height: 30px;
        background-size: cover !important;
    }
}

@media (orientation: portrait) {
    body {
        overflow-y: hidden;
    }

    #cny2021 {
        display: none;
    }

    .warning {
        display: flex;
    }
}

@media (orientation: landscape) and (max-width: 1366px) {
    .feng-shui .footer-icon-left, 
    .movie .footer-icon-left, 
    .digital .footer-icon-left {
        width: 130px;
        height: 110px;
    }
    .feng-shui .footer-icon-right, 
    .family .footer-icon-right, 
    .digital .footer-icon-right{
        width: 130px;
        height: 105px;
    }
    .telemovie .footer-icon-left, 
    .radio .footer-icon-left {
        width: 110px;
        height: 125px;
    }
    .variety .footer-icon-right, 
    .radio .footer-icon-right {
        width: 205px;
        height: 130px;
    }
    .countdown .footer-icon-left, 
    .cooking .footer-icon-left, 
    .cgm20 .footer-icon-left {
        width: 130px;
        height: 105px;
    }
    .cooking .footer-icon-right, 
    .cgm20 .footer-icon-right {
        width: 95px;
        height: 110px;
    }
    .countdown .footer-icon-right {
        width: 105px;
        height: 85px;
    }
}

@media (orientation: landscape) and (max-width: 1024px) {
    .card-popup .swal2-close {
        width: 50px;
        height: 50px;
        background-size: 100% 100%;
    }

    .card-popup .content-wrapper .owl-stage-outer {
        border-radius: 50px;
    }

    .col-1 {
        display: none;
    }

    #middle-content {
        max-width: unset;
        width: 100%;
        flex: none;
    }
}

@media (orientation: landscape) and (max-width: 1023px) {
    .card-popup .content-wrapper .owl-stage-outer {
        border-radius: 30px;
    }
}

@media (orientation: landscape) and (max-width: 830px) {
    .flipbook-inner-wrapper {
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
    }

    .container-fluid {
        height: 320px;
        overflow: hidden;
    }
    .flipbook-inner-wrapper {
        margin-top: -330px;
    }

    div.owl-theme.owl-carousel .owl-nav button.owl-next, 
    div.owl-theme.owl-carousel .owl-nav button.owl-prev {
        width: 40px;
    }
    div.owl-theme.owl-carousel .owl-nav button.owl-next {
        right: -50px;
    }
    div.owl-theme.owl-carousel .owl-nav button.owl-prev {
        left: -50px;
    }
}

@media screen and (max-width: 767px) {
    .flipbook-inner-wrapper {
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
    }

    .btn.btn-sm.btn-submit {
        font-size: 0px;
    }

    .btn.btn-sm.btn-submit i {
        font-size: 12px;
        margin: 0px;
        line-height: 30px;
    }

    a.at-icon-wrapper.at-share-btn.at-svc-linkedin {
        margin-right: 0px;
    }

    .share-title {
        display: none;
    }

    .button-wrapper {
        padding-top: 10px;
    }

    #flipbook {
        min-width: 100%;
        max-width: 100%;
    }

    footer.btm-footer {
        margin-top: 20px;
    }

    .swal2-container {
        padding-right: 40px;
        padding-left: 40px;
    }

    .card-popup .content-wrapper .owl-stage-outer {
        border-radius: 30px;
    }

    .card-popup .swal2-close {
        width: 30px;
        height: 30px;
        background-size: 100% 100%;
    }

    .container-fluid {
        height: 320px;
        overflow: hidden;
    }
    .flipbook-inner-wrapper {
        margin-top: -100px;
    }

    .feng-shui .footer-icon-left, 
    .movie .footer-icon-left, 
    .digital .footer-icon-left {
        width: 65px;
        height: 55px;
    }
    .feng-shui .footer-icon-right, 
    .family .footer-icon-right, 
    .digital .footer-icon-right{
        width: 65px;
        height: 55px;
    }
    .telemovie .footer-icon-left, 
    .radio .footer-icon-left {
        width: 55px;
        height: 60px;
    }
    .variety .footer-icon-right, 
    .radio .footer-icon-right {
        width: 100px;
        height: 65px;
    }
    .countdown .footer-icon-left, 
    .cooking .footer-icon-left, 
    .cgm20 .footer-icon-left {
        width: 65px;
        height: 50px;
    }
    .cooking .footer-icon-right, 
    .cgm20 .footer-icon-right {
        width: 50px;
        height: 55px;
    }
    .countdown .footer-icon-right {
        width: 50px;
        height: 40px;
    }
}

@media screen and (max-width: 360px) {
    #flipbook {
        max-height: 300px;
    }
}

@media (orientation:landscape) and (device-height: 320px) {
    .card-popup .content-wrapper .owl-stage-outer {
        border-radius: 20px;
    }
}