.icon-48-bannerv1ewerships {
      background-image: url(../images/l_bannerv1ewerships.png);
      padding-left:60px!important;
}

.icon-48-bannerv1ewership {
      background-image: url(../images/l_bannerv1ewerships.png);
      padding-left:60px!important;
}

.color-box-bannerv1ewerships { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}



.other-filters{
    padding: 0 14px;
}