.icon-48-quakeclubqperksmonthlies {
      background-image: url(../images/l_quakeclubqperksmonthlies.png);
      padding-left:60px!important;
}

.icon-48-quakeclubqperksmonthly {
      background-image: url(../images/l_quakeclubqperksmonthlies.png);
      padding-left:60px!important;
}

.color-box-quakeclubqperksmonthlies { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}



.other-filters{
    padding: 0 14px;
}