.icon-48-v1ewershiphighlights {
      background-image: url(../images/l_v1ewershiphighlights.png);
      padding-left:60px!important;
}

.icon-48-v1ewershiphighlight {
      background-image: url(../images/l_v1ewershiphighlights.png);
      padding-left:60px!important;
}

.color-box-v1ewershiphighlights { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}



.other-filters{
    padding: 0 14px;
}