.btn-submit.mute-btn-wrapper,
.btn-submit.mute-btn-wrapper:active {
    padding: 0px;
}
/*
.mute-btn-wrapper {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 9999;
}
*/
a.mute-btn {
    display: block;
    width: 40px;
    height: 40px;

    background: url('../img/mute-icon.png') left top no-repeat;
    background-size: cover;
    text-indent: -9999px;
    transition: none;
}

a.mute-btn.mute {
    background-position: left bottom; 
}