#add-to-calendar-checkbox-label {
    cursor: pointer;
  }
  
  .add-to-calendar-checkbox ~ a {
    background-color: #ED01A0;
    padding: 30px;
    margin: 30px -30px -30px;
    text-align: center; 
    /*display: none;*/
  }
  
  .add-to-calendar-checkbox:checked ~ a {
    background-color: #ED01A0;
    padding: 30px;
    margin: 30px -30px -30px;
    text-align: center;
    /*display: block;
    width: 150px;
    margin-left: 20px;*/
  }
  
  input[type=checkbox].add-to-calendar-checkbox {
    background-color: #ED01A0;
    padding: 30px;
    margin: 30px -30px -30px;
    text-align: center;
  }
  
  .add-to-calendar-checkbox ~ a:before {
    background-color: #ED01A0;
    padding: 30px;
    margin: 30px -30px -30px;
    text-align: center;
    /*width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: .5em;
    content: ' ';*/
  }
  /*
  /*.icon-ical:before {
    background-position: -68px 0;
  }*/
  /*
  .icon-outlook:before {
    /*this is the default icon*/
  /*}
  *//*
  .icon-yahoo:before {
    background-position: -36px +4px;
  }
  /*
  .icon-google:before {
    background-position: -52px 0;
  }
  */

  