body {
    padding-top: 0 !important;
    padding-bottom: 100px;
    background: #000 no-repeat top center / cover;
    background-attachment: fixed;
    color: white;
    font-family: "FS Albert Pro", sans-serif !important;
}
.rsvp-header {
    position: relative;
    /* padding-top: 100px; */
    margin-bottom: 50px;
}
/* .big-logo {
    height: 40vh;
    min-height: 400px;
    margin: 0 auto;
    background: no-repeat center center / contain;
} */
.big-logo img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
    max-height: 60vh;
}
.astro-logo {
    position: absolute;
    right: 0;
    top: 20px;
}
.astro-logo img {
    max-width: 100%;
    display: block;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 22px;
}
/* .black-box {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 25px;
} */
.event-info-box {
    padding: 0 30px;
    height: 100%;
    font-size: 18px;
}
div:not(.last) > .event-info-box {
    /* border: 1px solid #fff; */
    /* border-width: 0 1px 0 0; */
}
.heading {
    color: #fff;
    font-size: 35px;
    /* text-shadow: 0 0 7px rgba(224,46,146, 0.8), 0 0 20px rgba(224,46,146, 0.8); */
}
.agenda {
    padding: 0 15px;
    width: 650px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.agenda-list .row {
    padding: 15px 0;
}
.agenda-list .row:not(:last-child):not(.agenda-header) {
    border-bottom: 1px solid #454545;
}
.agenda-header.row {
    margin-top: 20px;
    border-top: 2px solid #454545;
    border-bottom: 2px solid #454545;
    padding: 20px 0;
}
.agenda-header h5 { margin: 0;}
.agenda-title {
    font-weight: bold;
}
.mobile-title {
    display: none;
}
/* .agenda-desc {
    margin-top: 10px;
    color: #B5B5B5;
}
.agenda-desc .short-content {
    transition: all 0.6s;
    max-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.agenda-desc.expand .short-content {
    max-height: 1000px;
    text-overflow: inherit;
    white-space: normal;
    overflow: visible;
}
.toggle-agenda {
    color: #ED01A0;
    font-size: 14px;
    display: inline-block;
    cursor: pointer;
    padding: 10px 10px 10px 0;
}
.toggle-agenda i {
    margin-right: 5px;
    font-size: 10px;
}
.agenda-desc .hide {
    display: none;
}
.agenda-desc.expand .hide {
    display: block;
}
.agenda-desc.expand .collapsed {
    display: none;
} */
.icon-done {
    width: 167px;
    margin: 20px auto 40px;
}
.pink-block {
    background-color: #ED01A0;
    padding: 30px;
    margin: 30px -30px -30px;
    text-align: center;
}

.form-control[readonly] {
    background-color: white !important;
}
/* .sticker {
    background-color: #ED01A0;
    border-radius: 50%;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    display: flex;
    align-items: center;
} */
.modal.dimmed {
    opacity: 0.3;
}
#pdpa {
    font-size: 14px;
}
.float-register {
    z-index: 2;
    background-color: #ED01A0;
    box-shadow: 0 -1px 10px 0 rgba(0,0,0,0.3);
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: 20px;
    text-align: center;
    transition: all .3s;
}
.float-register .btn {
    margin-left: 10px;
    box-shadow: none;
    font-size: 20px;
    padding: 10px 20px;
}
#downloadCenterModal .modal-body,
.custom-modal .modal-body,
.custom-modal .modal-header {
    background: #171717;
    border-color: transparent;
    color: white;
}
.club-form {
    color: black;
}
.modal {
    overflow-y: auto;
}
@media (min-width: 992px) {
    .float-register:hover {
        padding: 20px 10px;
    }
}
@media (min-width: 768px) {
    #sticky {
        margin-right: -30px;
    }
}
@media (max-width: 991px) {
    .agenda-col {margin-top: 10px;}
    .speaker-col {
        padding-top: 15px;
    }
    .agenda-col, .speaker-col {
        padding-left: 15px !important;
        border-left: 1px solid #fff;
        margin-left: 20px;
    }
    /* .agenda-col:before, .speaker-col:before {
        content: "";
        position: absolute;
        left: 15px;
        top: 0;
        bottom: 0;
        width: 1px;
        border-left: 1px solid #fff;
    } */
    .agenda-list .row {
        padding: 30px 0;
    }
    .float-register .btn {
        padding: 3px 15px;
    }
    /* div:not(.last) > .event-info-box {
        border-right-width: 0;
        border-bottom-width: 1px;
    } */
    .event-info-box {
        padding: 30px 0;
    }
}
@media (max-width: 767px) {
    .float-register {
        font-size: 16px;
    }
    .float-register .btn {
        margin: 10px auto 0;
        display: block;
        padding: 0px 15px;
        font-size: 16px;
    }
    #sticky {
        padding: 5px 10px;
        margin: 0 -30px 20px auto;
        word-break: normal;
        white-space: normal;
        text-align: right;
    }
}
@media (max-width: 575px) {
    .astro-logo {max-width: 70px}
    .black-box {
        padding: 25px 15px;
    }
    h1 {
        font-size: 34px;
    }
    .rsvp-header h2 {
        font-size: 30px;
    }
    .heading {
        font-size: 28px;
    }
    .modal .h2 {
        font-size: 26px;
    }
    #sticky {
        font-size: 14px;
    }
    #downloadCenterModal .modal-body, .custom-modal .modal-body {
        padding: 10px;
    }
    #sticky {
        margin-right: -10px;
    }
    #pdpa {
        font-size: 12px;
    }
    #event-highlights .f-20 {
        font-size: 17px;
    }
    #event-highlights {
        font-size: 14px;
    }
}
/* .theme-light {
    color: #000;
    background-color: #fff;
}

.theme-light div:not(.last) > .event-info-box {
    border-color: #000;
}

.theme-light .astro-logo img {
    content: url('../../images/astro-media-solutions.png');
} */

.event-cover {
    padding: 20px 0 0 0 !important;
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}

@media (max-width:991px) {
    .event-cover {
        padding-top: 80px !important;
    }
}

.col-time, .col-remark, .col-speaker {
    width: 20%;
}

.col-program {
    width: 40%;
}

.event-highlight {
    width: 700px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.event-highlight img {
    max-width: 100%;
}

.mute-btn {
    position: fixed;
    bottom: 120px;
    right: 15px;
    width: 40px;
    font-size: 20px;
    height: 40px;
    background: rgba(0,0,0,0.4);
    border-radius: 50px;
    text-align: center;
    padding-right: 2px;
    line-height: 40px;
    color: white !important;
    z-index: 2;
}

.mute-btn.mute {
    opacity: 0.6;
    color: #000 !important;
}

.mute-btn.mute .fa::before {
    content: "\f026";
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.scrolldown {
    color: white;
    position: relative;
    width: 200px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    /* border: 2px solid white;
    border-radius: 50px; */
    box-sizing: border-box;
    margin-bottom: 16px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-items: center;
    font-weight: bold;
  }
  
  .scrolldown::before {
    /* content: "";
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: white;
    border-radius: 100%;
    animation: scrolldown-anim 2s infinite;
    box-sizing: border-box;
    box-shadow: 0px -5px 3px 1px #ffffff66; */
  }
  
  @keyframes scrolldown-anim {
    0% {
      opacity: 0;
      height: 6px;
    }
    40% {
      opacity: 1;
      height: 10px;
    }
    80% {
      transform: translate(0, 20px);
      height: 10px;
      opacity: 0;
    }
    100% {
      height: 3px;
      opacity: 0;
    }
  }

  .scrolldown span {
      display: inline-block;
      margin-top: 4px;
      margin-right: auto;
  }
  .chevrons {
    margin: 0 10px 0 auto;
    width: 30px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }
  .chevrondown {
    margin-top: -3px;
    position: relative;
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
  }
  .chevrondown:nth-child(odd) {
    animation: pulse 500ms ease infinite alternate;
  }
  .chevrondown:nth-child(even) {
    animation: pulse 500ms ease infinite alternate 250ms;
  }
  @keyframes pulse {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .scroll-indicator {
      text-align: center;
      padding: 140px 0 40px;
      background-image: linear-gradient(transparent, rgba(0,0,0,0.8));
      position: fixed;
      bottom: 50px;
      left: 0;
      right: 0;
      z-index: 1;
  }

  .btn-close {
    color: #ec008c;
    font-size: 14px;
    text-shadow: none;
    opacity: 1;
    transform: translateZ(0);
    float: right;
    font-weight: 700;
    line-height: 1;
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .agenda-wider {
    padding: 0 15px;
    /* width: 650px; */
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}


  .modal-dialog-scrollable .modal-body {
      overflow-x: hidden;
  }