@font-face {
    font-family: 'regularFont';
    src: url('../fonts/regularFont.woff2') format('woff2'),
         url('../fonts/regularFont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'boldFont';
    src: url('../fonts/boldFont.woff2') format('woff2'),
         url('../fonts/boldFont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lightFont';
    src: url('../fonts/lightFont.woff2') format('woff2'),
         url('../fonts/lightFont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0px;
    padding: 0px !important;
    /*font-family: 'lightFont';*/
    background:  #711919;
}
body.isMobile,
body.isDesktop {
    background: url('../img/game-background.png') center center no-repeat;
}
body.isMobile.landscape {
    background-size: cover;
}
body.isMobile.portrait{
    /*background-size: cover;*/
    background: url('../img/landscape.png') center center no-repeat #711919;
}

.btm-footer {
    display: none;
}

.boldFont-test {
    margin: 0px;
    visibility: hidden;
    font-family: 'boldFont';

    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -9999;
}

.howto-popup strong,
.howto-popup h4{
    font-family: 'boldFont';
}

.body#mouse-run {
    flex: 0 1 auto;
}

.game-wrapper {
    /*background: url('../img/game-background.png') center center no-repeat;*/
}

.countdown {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    /*background: rgba(0,0,0,0.5);*/
    
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 999;
}
.countdown {
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0,0,0,0.4);
}
body.swal2-shown .countdown {
    background: none;
}

.countdown h1 {
    margin: 0px;
    text-align: center;
    color: white;
    font-size: 200px;
    font-family: boldFont;
    font-weight: normal;
    width: 100%;
    position: relative;
}

.countdown .level {
    color: white;
    font-size: 20px;

    position: absolute;
    top: -50px;
    left: 50%;

    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.countdown h1 .coin-notifier-text {
    font-size: 80px;
    line-height: 100px;
}

.coin-rotate {
    display: inline-block;
    width: 60px;
    height: 60px;
    /*margin-top: 20px;*/
    /*float: right;*/
    background: url('../img/coin.png') left top no-repeat;
    background-size: cover;

    -webkit-animation: rotateCoin 0.5s steps(5, start) infinite;
    -moz-animation: rotateCoin 0.5s steps(5, start) infinite;
    -ms-animation: rotateCoin 0.5s steps(5, start) infinite;
    -o-animation: rotateCoin 0.5s steps(5, start) infinite;
    animation: rotateCoin 0.5s steps(5, start) infinite;
/*
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 9999;*/
}
@-webkit-keyframes rotateCoin {to {background-position: right;}}
@-moz-keyframes rotateCoin {to {background-position: right;}}
@-ms-keyframes rotateCoin {to {background-position: right;}}
@-o-keyframes rotateCoin {to {background-position: right;}}
@keyframes rotateCoin {to {background-position: right;}}

.countdown.disable {
    display: none;
}

#gameDiv {
    font-family: 'regularFont';
    position: relative;
}

.isDesktop .game-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swal2-container.quiz-popup .swal2-modal {
    width: 960px;
    height: 400px;
    padding: 80px 30px 50px 280px;
    background: url(../img/quiz-bg.png) left top no-repeat;
}

.swal2-header h2.swal2-title {
    font-family: 'boldFont';
    font-size: 50px;
    margin: 0px 0px 8px;
    color: #04030d;
}

.swal2-content {
    font-family: "FS Albert Pro", sans-serif;
    font-size: 18px;
    color: #04030d;
}

.swal2-content .question {
    padding: 15px 0px;
}

.swal2-content a {
    display: inline-block;
    margin: 0px 10px;
    padding: 6px 20px;
    line-height: 1;
    font-family: boldFont;
    font-size: 20px;
    text-decoration: none;
    color: white;
    background: #CD2314;
    border: #841712 solid 4px;
    outline: none !important;
    
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
}
.swal2-content a:hover,
.swal2-content a:focus,
.swal2-content a:active,
.swal2-content a:hover:not(.btn), 
.swal2-content a:focus:not(.btn) {
    color: white;
}
.swal2-content a:hover,
.swal2-content a:active,
.swal2-content a:hover:not(.btn){    
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.swal2-content a.correct {
    background: #4CAF50;
    border-color: #247a28;
}

.quiz-popup .custom-timer {
    width: 120px;
    height: 60px;
    padding: 0px 20px;
    line-height: 60px;
    font-size: 30px;
    text-align: right;
    background: url('../img/icon-timer.png') 10px 0px no-repeat #ccc;

    position: absolute;
    right: 70px;
    top: -6px;

    -webkit-border-radius: 15px 15px 0px 0px;
    -moz-border-radius: 15px 15px 0px 0px;
    -ms-border-radius: 15px 15px 0px 0px;
    -o-border-radius: 15px 15px 0px 0px;
    border-radius: 15px 15px 0px 0px;
}

.quiz-popup .swal2-close,
.custom-popup-theme .swal2-close {
    display: block;
    text-indent: -9999px;
    width: 80px;
    height: 80px;
    background: url(../img/btn-close.png) left top no-repeat;
    outline: none !important;

    right: -25px;
    top: 30px;
}

.custom-popup-theme .text-content,
.custom-popup-theme .text-content p {
    margin-bottom: 1rem;
}

.gameover-popup .swal2-content span,
.earn-additional-life-popup .swal2-content span {
    font-family: boldFont;
    /* font-size: 1.3em; */
    color: #cd2314;
}

.gameover-popup .swal2-content .answer {
    padding-top: 20px;
}

.swal2-actions button {
    width: 150px;
    height: 60px;
    text-indent: -9999px;
    border: none;
    margin: 0px 20px;
    cursor: pointer;
    outline: none !important;
}
button.swal2-confirm {
    background: url(../img/btn-yes.png) left top no-repeat;
}
button.swal2-cancel {
    background: url(../img/btn-no.png) left top no-repeat;
}

.mainmenu-popup .swal2-popup {
    width: 80%;
    max-width: 500px;
    height: 500px;
    padding: 170px 30px 30px;
    background: url(../img/menu-bg.png) left top no-repeat;
    background-size: contain;
}

.mainmenu-popup .swal2-popup a {
    display: block;
    margin: 10px auto 0px;
    max-width: 380px;
    height: 40px;
    font-size: 20px;
    /* line-height: 1.2; */
    line-height: 20px;
    padding: 6px 20px;
    text-transform: uppercase;

    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
}

.swal2-content .welcome {
    font-size: 20px;
}
.swal2-content .welcome.guest {
    padding-bottom: 20px;
}

.swal2-close.disable {
    pointer-events: none;
}

.game-life span {
    float: left;
    padding-left: 40px;
    /*
    background: url('../img/life-icon.png') left top no-repeat;
    background-size: 40px 40px;*/
    background: url('../img/heart.svg') 0px 5px no-repeat;
    background-size: 30px 30px;
}

.mainmenu-popup .swal2-header {
    display: none;
}

.game-life {
    max-width: 200px;
    margin: 5px auto 25px;
    padding: 0px 20px;
    background: #222;
    color: white;
    line-height: 40px;
    font-size: 20px;
    text-align: right;

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
}

.mute-btn-wrapper {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 9999;
}

a.mute-btn {
    display: block;
    width: 60px;
    height: 60px;
    background: url('../img/btn-mute.png') left top no-repeat;
    background-size: cover;
    text-indent: -9999px;
    transition: none;
}

a.mute-btn.mute {
    background-position: left bottom; 
}

.earn-additional-life-popup .swal2-popup,
.earn-more-life-popup .swal2-popup,
.collect-q-coins-popup .swal2-popup,
.howto-popup .swal2-modal {
    width: 80%;
    max-width: 800px;
}
.earn-additional-life-popup .text-content{
    padding: 20px 0px;
}

.collect-q-coins-popup .swal2-content {
    padding-top: 20px;
}

.collect-q-coins-popup p {
    /*font-size: 20px;*/
    margin: 0px;
}

.collect-q-coins-popup.custom-popup-theme .form-group {
    padding-top: 15px;
}

.collect-q-coins-popup .text-or {
    font-size: 50px;
}

.howto-popup .swal2-modal .swal2-content {
    max-height: 60vh;
    overflow-y: scroll;
    padding: 0px 15px;
}

.howto-popup .align-left {
    text-align: left;
}

.howto-popup p,
.howto-popup strong {
    /*font-size: 20px;*/
}

.howto-popup h4 {
    font-size: 32px;
    text-transform: uppercase;
    padding: 30px 0px 10px;
}

.howto-popup .mouse {
    text-align: right;
}

.howto-popup .mouse img {
    height: 100px;
}

.earn-more-life-popup .text-content strong {
    font-size: 26px;
}

.earn-more-life-popup .swal2-content a {
    height: auto;
    line-height: 1;
    padding: 7px 20px;
    box-shadow: 1px 5px 1px rgba(0,0,0,0.3)
}
.earn-more-life-popup .swal2-content a:hover,
.earn-more-life-popup .swal2-content a:active,
.earn-more-life-popup .swal2-content a:focus {
    box-shadow: 3px 4px 0px rgba(0,0,0,0.3);
}

.earn-more-left {
    margin: 24px 0px 16px;
}

/* ---------- SWAL2 MODAL BACKGROUND ---------- */
.custom-popup-theme .swal2-modal {
    margin: 20px 0px !important;
    background: url('../img/popup-body.png') left top repeat-y;
    background-size: contain;
}
.custom-popup-theme .swal2-modal::before {
    content: '';
    display: block;
    width: 100%;
    height: 100px;
    background: url('../img/popup-head.png') left top no-repeat;
    background-size: contain;

    position: absolute;
    left: 0px;
    top: -20px;
}
.custom-popup-theme .swal2-modal::after {
    content: '';
    display: block;
    width: 100%;
    height: 100px;
    background: url('../img/popup-foot.png') left bottom no-repeat;
    background-size: contain;

    position: absolute;
    left: 0px;
    bottom: -20px;
}

.custom-popup-theme .swal2-close {
    right: -30px;
    top: -55px;
}

.custom-popup-theme .swal2-title,
.custom-popup-theme a {
    text-transform: uppercase;
}

.custom-popup-theme .form-group {
    margin: 0px;
    padding: 0px 0px 15px;
}

.gxfc small {
    /*font-size: 50%;*/
    display: block;
}

.custom-popup-theme.login-popup .form-group {
    padding: 10px 30px;
}
.custom-popup-theme.login-popup .form-group.error {
    padding-bottom: 25px;
    color: #cd2314;
}
.custom-popup-theme.login-popup .form-group.error.disable {
    display: none;
}

.login-popup .form-group label {
    display: block;
}

.login-popup .form-group span {
    display: block;
    /*font-size: 24px;*/
}

.login-popup .form-group input[type="text"],
.login-popup .form-group input[type="password"] {
    display: block;
    width: 100%;
    text-align: center;
    /*font-size: 24px;*/
    height: 50px;
    line-height: 40px;
    padding: 5px 10px;
    border: #DDD solid 2px;
    outline: none !important;

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
}

.login-popup form {
    /*padding: 20px 0px 40px;*/
}


/* ---------- ORIENTATION ---------- */
.game-wrapper,
.swal2-container {
    display: none;
}
.isDesktop .game-wrapper,
.isDesktop .swal2-container {
    display: flex;
}

.isMobile.landscape .game-wrapper{
    display: block;
}
.isMobile.landscape .swal2-container{
    display: flex;
    max-width: 100vw;
    max-height: 100vh;
    padding: 0px;
}
.isMobile.is_iOS.landscape .swal2-container,
.isMobile.is_iOS.landscape .game-wrapper #gameDiv {
    max-height: -webkit-fill-available;
}

.isMobile #gameDiv canvas {
    display: block;
    margin: 0px auto;
    /* flex-direction: column; */
    /* justify-content: center; */
}
/*
.isMobile.landscape #gameDiv {
    width: 100vw;
    
    position: absolute;
    left: 50%;
    top: 0px;

    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}*/

.isMobile.landscape {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1024px){
    .isMobile.landscape {
        display: block;
    }

    .isMobile.landscape .game-wrapper #gameDiv{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 1023px){
    .isMobile .developer {
        left: 20px;
    }

    .isMobile.landscape .game-wrapper #gameDiv {
        display: block;
    }

    .isMobile .countdown .level {
        top: 0px;
    }

    .isMobile .swal2-popup {
        max-width: 80%;
        padding: 0px 20px;
    }

    .isMobile .mainmenu-popup .swal2-popup {
        max-width: 250px;
        height: 250px;
        padding-top: 80px;
        padding-bottom: 10px;
    }

    .isMobile .swal2-content {
        font-size: 12px;
    }

    .isMobile .swal2-content a {
        font-size: 15px;
        line-height: 10px;
    }

    .isMobile .swal2-header h2.swal2-title {
        font-size: 30px;
    }

    .isMobile .custom-popup-theme .form-group {
        padding-bottom: 10px;
    }

    .isMobile .swal2-content .welcome {
        font-size: 15px;
    }

    .isMobile .swal2-content .welcome.guest{
        padding-bottom: 10px;
    }

    .isMobile .gameover-popup .swal2-content .answer {
        padding-top: 10px;
    }

    .isMobile .game-life {
        margin-bottom: 10px;
        line-height: 20px;
        font-size: 15px;
    }

    .isMobile .game-life span {
        padding-left: 20px;
        background-size: 15px 15px;
        background-position: left center;
    }

    .isMobile .mainmenu-popup .swal2-popup a {
        height: 30px;
        margin-top: 5px;
    }

    .isMobile .mainmenu-popup #swal2-content {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
        transform: scale(0.8);
    }

    .isMobile .custom-popup-theme.login-popup .form-group {
        padding-top: 0px;
    }

    .isMobile .login-popup .form-group input[type="text"], 
    .isMobile .login-popup .form-group input[type="password"] {
        height: 30px;
        line-height: 20px;
    }

    .isMobile .swal2-content a {
        font-size: 15px;
        line-height: 1;
        border-width: 2px;
        padding: 6px 15px;
    }
    
    .isMobile .custom-popup-theme .text-content.earn-more-left {
        margin: 15px 0px 5px;
    }

    .isMobile .custom-popup-theme .text-content, 
    .isMobile .custom-popup-theme .text-content p {
        margin-bottom: 10px;
    }

    .isMobile .quiz-popup .swal2-close, 
    .isMobile .custom-popup-theme .swal2-close {
        width: 40px;
        height: 40px;
        background-size: contain;
    }

    .isMobile .custom-popup-theme .swal2-close {
        right: -15px;
        top: -40px;
    }

    .isMobile a.mute-btn {
        width: 40px;
        height: 40px;
        outline: none !important;
    }

    .isMobile .container {
        max-width: unset;
    }

    .isMobile #content {
        padding: 0px;
    }

    .isMobile .countdown {
        height: 100vh;
    }
    .isMobile.is_iOS .countdown {
        height: -webkit-fill-available;
    }

    .isMobile .swal2-container.quiz-popup .swal2-modal {
        max-width: 420px;
        max-height: 170px;
        padding: 35px 15px 15px 115px;
        background-size: cover;
    }

    .isMobile .quiz-popup .swal2-close {
        top: 5px;
        right: -15px;
    }

    .isMobile .quiz-popup .swal2-header h2.swal2-title {
        font-size: 20px;
        margin: 0px;
    }

    .isMobile .swal2-content .question {
        padding: 10px 0px;
    }

    .isMobile .quiz-popup .swal2-content a {
        padding: 4px 10px;
        margin: 0px 5px;
    }

    .quiz-popup .custom-timer {
        width: 70px;
        height: 30px;
        padding: 0px 10px;
        font-size: 20px;
        line-height: 30px;
        background-size: contain;
        background-position: 5px 0px;
        
        right: 40px;
        
        -webkit-border-radius: 8px 8px 0px 0px;
        -moz-border-radius: 8px 8px 0px 0px;
        -ms-border-radius: 8px 8px 0px 0px;
        -o-border-radius: 8px 8px 0px 0px;
        border-radius: 8px 8px 0px 0px;
    }

    .isMobile .quiz-popup .answer {
        margin-left: -15px;
        margin-right: -15px;
    }

    .isMobile .howto-popup .mouse {
        padding-right: 0px;
    }

    .isMobile .howto-popup img {
        max-width: 100%;
        height: auto;
    }

    .isMobile .howto-popup .mouse img {
        height: auto;
    }

    .isMobile .collect-q-coins-popup .text-or {
        padding: 0px;
        font-size: 40px;
    }
}
/*
@media (min-width: 768px){
    .isMobile .container {
        max-width: unset;
    }

    .isMobile #content {
        padding: 0px;
    }
}

@media (min-width: 576px){
    .container {
        max-width: auto;
    }
}*/