@font-face {
    font-family: 'FS Albert Pro';
    src: url('../fonts/FSAlbertPro-ExtraBold.eot');
    src: url('../fonts/FSAlbertPro-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FSAlbertPro-ExtraBold.woff2') format('woff2'),
        url('../fonts/FSAlbertPro-ExtraBold.woff') format('woff'),
        url('../fonts/FSAlbertPro-ExtraBold.ttf') format('truetype'),
        url('../fonts/FSAlbertPro-ExtraBold.svg#FSAlbertPro-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'FS Albert Pro';
    src: url('../fonts/FSAlbertPro-Bold.eot');
    src: url('../fonts/FSAlbertPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FSAlbertPro-Bold.woff2') format('woff2'),
        url('../fonts/FSAlbertPro-Bold.woff') format('woff'),
        url('../fonts/FSAlbertPro-Bold.ttf') format('truetype'),
        url('../fonts/FSAlbertPro-Bold.svg#FSAlbertPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'FS Albert Pro';
    src: url('../fonts/FSAlbertPro.eot');
    src: url('../fonts/FSAlbertPro.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FSAlbertPro.woff2') format('woff2'),
        url('../fonts/FSAlbertPro.woff') format('woff'),
        url('../fonts/FSAlbertPro.ttf') format('truetype'),
        url('../fonts/FSAlbertPro.svg#FSAlbertPro') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FS Albert Pro';
    src: url('../fonts/FSAlbertPro-BoldItalic.eot');
    src: url('../fonts/FSAlbertPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FSAlbertPro-BoldItalic.woff2') format('woff2'),
        url('../fonts/FSAlbertPro-BoldItalic.woff') format('woff'),
        url('../fonts/FSAlbertPro-BoldItalic.ttf') format('truetype'),
        url('../fonts/FSAlbertPro-BoldItalic.svg#FSAlbertPro-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

::-moz-selection {
    background: #ec008c;
    color: white
}

::selection {
    background: #ec008c;
    color: white
}

::-webkit-input-placeholder {
    color: #bbb !important;
}

::placeholder {
    color: #bbb !important;
}

:-moz-placeholder {
    color: #bbb !important;
}

::-moz-placeholder {
    color: #bbb !important;
}

:-ms-input-placeholder {
    color: #bbb !important;
}


body {
    background: linear-gradient(145deg, rgba(255, 171, 42, 1) 3%, rgba(247, 33, 0, 1) 25%, rgba(150, 16, 0, 1) 36%);
    background-repeat: no-repeat;
    color: #fff;
    line-height: 1.5;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

@media (max-width: 992px) {
    body {
        background: linear-gradient(145deg, rgba(255, 171, 42, 1) 0%, rgba(247, 33, 0, 1) 12%, rgba(150, 16, 0, 1) 36%);
    }
}

.body {
    position: relative;
    padding-bottom: 150px;
    min-height: 100vh;
}

@media (max-width: 767px) {
    .body {
        padding-bottom: 200px;
    }
}

@media (max-width: 576px) {
    .body {
        padding-bottom: 150px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "FS Albert Pro", sans-serif;
    margin-top: 0;
    line-height: 1.1;
    font-weight: 600;
}

.font-default {
    font-family: Arial, Helvetica, sans-serif !important;
}

.font-brand {
    font-family: "FS Albert Pro", sans-serif !important;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

a {
    color: #fff;
    /* text-decoration: underline; */
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

a:hover:not(.btn),
a:focus:not(.btn) {
    color: #fff;
    outline: 0;
    box-shadow: none;
}

h2 {
    font-size: 30px;
    font-weight: bold;
}

h3 {
    line-height: 1.5;
    font-size: 28px;
    font-weight: bold;
}

.flower-wrapper img {
    position: absolute;
}

.img-1 {
    right: 0;
    top: 300px;
    opacity: 1;
    animation-duration: 2s;
    animation-name: img_one_anim;
    animation-iteration-count: infinite;

}

@keyframes img_one_anim {
    0% {
        opacity: 1
    }

    50% {
        opacity: 0.5
    }

    100% {
        opacity: 1
    }
}

.img-2 {
    right: 25%;
    top: 0;
    opacity: 1;
    animation-duration: 3s;
    animation-name: img_two_anim;
    animation-iteration-count: infinite;
}

@keyframes img_two_anim {
    0% {
        opacity: 1
    }

    50% {
        opacity: 0.4
    }

    100% {
        opacity: 1
    }
}

.img-3 {
    top: 70%;
    left: 42%;
    opacity: 1;
    animation-duration: 2.5s;
    animation-name: img_three_anim;
    animation-iteration-count: infinite;
}

@keyframes img_three_anim {
    0% {
        opacity: 1
    }

    50% {
        opacity: 0.3
    }

    100% {
        opacity: 1
    }
}

.img-4 {
    left: 0;
    top: 50%;
    opacity: 1;
    animation-duration: 2.5s;
    animation-name: img_four_anim;
    animation-iteration-count: infinite;
}

@keyframes img_four_anim {
    0% {
        opacity: 1
    }

    50% {
        opacity: 0.6
    }

    100% {
        opacity: 1
    }
}

@media (max-width: 991px) {
    .img-1 {
        width: 200px;
        top: 35%;
    }

    .img-2 {
        right: 15%;
    }

    .img-3 {
        top: 85%;
        left: 70%;
    }

    .img-4 {
        left: 10%;
        top: 44%;
    }
}

@media (max-width: 767px) {

    .img-1 {
        top: 25%;
    }

    .img-2 {
        width: 140px;
        right: 25%;
    }

    .img-3 {
        top: 80%;
        left: calc(100% - 30%);
    }

    .img-4 {
        left: 5%;
        top: 35%;
    }
}

@media (max-width: 577px) {
    .img-3 {
        left: 70%;
    }
}

@media (max-width: 576px) {
    .astro-mobile img {
        width: 80px;
    }

    .img-2 {
        width: 100px;
    }

    .img-3 {
        width: 100px;
        left: calc(100% - 25%);
        top: 82%;
    }

    .img-4 {
        width: 100px;
    }
}

@media (max-width: 470px) {
    .img-3 {
        left: 10%;
    }

    .img-4 {
        top: 25%;
    }
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-35 {
    margin-bottom: 35px;
}

/* CNY QUAKE */
.rsvpcnydatum-edit {
    padding-top: 40px;
}



.flower {
    position: absolute;
    z-index: -1;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-image: url("../../../images/rsvp/flower.png")
}

.logo-light {
    background-size: contain;
    background-repeat: no-repeat;
    height: 600px;
    position: absolute;
    left: -100px;
    width: 60%;
    background-image: url("../../../images/rsvp/logo_light.png");
}

.divider {
    display: block;
    border: 1px solid #ca6d66;
    margin-bottom: 30px;
}

.astro-mobile {
    position: absolute;
    right: 30px;
    top: 25px;
    display: none;
}

.astro {
    display: block;
    margin-bottom: 30px;
}

@media (max-width: 991px) {
    .flower {
        background-image: url("../../../images/rsvp/flower_mobile.png")
    }

    .logo-light {
        left: 0px;
        width: 100%;
        background-size: cover;
        background-image: url("../../../images/rsvp/logo_light_mobile.png");
    }

    .divider {
        display: none;
    }

    .section-title {
        text-align: center;
    }

    .astro-mobile {
        display: block;

    }

    .astro {
        display: none;
    }
}


.mandatory {
    font-size: 14px;
    color: #fdb820;
    font-style: italic;
}

.required {
    padding: 10px 15px;
    border-radius: 25px;
    width: 100%;
    outline: none;
    border: 0;
    margin: 12px 0;
}

.align-center {
    align-items: center;
}

#form-rsvpcnydatum .form-title label:first-child {
    line-height: 1;
    margin-bottom: 0;
    font-weight: bold;
}

#form-rsvpcnydatum .form-title p {
    line-height: 1.5;
    margin-bottom: 0;
    font-weight: bold;
}

.custom-control-label {
    font-weight: normal;
}

.cloud {
    position: absolute;
    max-width: 50%;
    z-index: -1;
    bottom: 0;
}

.cloud-left {
    left: 0;
}

.cloud-right {
    right: 0;
}

@media (max-width: 767px) {
    .cloud {
        max-width: 100%;
    }

    .cloud-right {
        display: none;
    }
}

.btn.focus,
.btn:focus {
    box-shadow: none;
}

.btn-submit {
    background: linear-gradient(135deg, rgba(234, 9, 98, 1) 22%, rgba(234, 59, 59, 1) 72%);
    border-radius: 25px;
    color: #fff;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    margin: 12px 0;
    font-weight: bold;
}

.btn-submit:hover {
    -webkit-box-shadow: 0px 4px 16px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 16px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 4px 16px -4px rgba(0, 0, 0, 0.75);
}

.btn-submit:active {
    background: linear-gradient(135deg, rgba(234, 9, 98, 1) 22%, rgba(234, 59, 59, 1) 72%) !important;
    border-radius: 25px;
    color: #fff;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
    padding: 10px 20px;
    margin: 12px 0;
    font-weight: bold;
}

.custom-control-label::before {
    background-color: #fff;
}

.custom-radio .custom-control-input:checked~.custom-control-label::before,
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background: linear-gradient(135deg, rgba(234, 9, 98, 1) 22%, rgba(234, 59, 59, 1) 72%);
}

.custom-control-input:focus~.custom-control-label::before {
    box-shadow: none;
}

.custom-checkbox {
    margin: 12px 0;
}

.custom-checkbox label {
    font-size: 14px;
    font-weight: normal;
}

.form-title-name,
.form-title-company,
.form-title-designation,
.form-title-email,
.form-title-mobile {
    padding: 20px 0;
}

@media (max-width: 1110px) and (min-width: 992px) {
    #form-rsvpcnydatum .form-title-company {
        padding: 10px 0;
    }
}

@media (max-width: 1103px) and (min-width: 992px) {
    #form-rsvpcnydatum .form-title-mobile {
        padding: 10px 0;
    }
}

@media (max-width: 480px) {
    #form-rsvpcnydatum .form-title-company {
        padding: 10px 0;
    }
}

@media (max-width: 477px) {
    #form-rsvpcnydatum .form-title-mobile {
        padding: 10px 0;
    }
}

/*.swal-modal {
	background: rgba(150,16,0,1);
}

.swal-icon--success:after, .swal-icon--success:before {
	background-color: transparent;
}

.swal-title, .swal-text {
	color: #fff;
}

.swal-icon--success__hide-corners {
	background-color: transparent;
}*/

.swal-icon--info:after,
.swal-icon--info:before {
    background-color: #f27474;
}

.swal-icon--info {
    border-color: #f27474;
}

.swal-content span {
    color: rgba(0, 0, 0, .64);
}

.swal-footer {
    text-align: center;
    margin-top: 0;

}

.swal-button:focus {
    box-shadow: none;
}

.swal-button {
    background: linear-gradient(135deg, rgba(234, 9, 98, 1) 22%, rgba(234, 59, 59, 1) 72%);
    border-radius: 25px;
    color: #fff;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    margin: 12px 0;
    font-weight: bold;
}

.swal-button:not([disabled]):hover {
    -webkit-box-shadow: 0px 4px 16px -4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 4px 16px -4px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 16px -4px rgba(0, 0, 0, 0.2);
}

.modal {
    color: rgba(0, 0, 0, .64);
}

.modal p,
.modal ul li {
    font-size: 14px;
}

/* .modal a {
    color: #961000;
} */

/* .modal a:hover:not(.btn),
.modal a:focus:not(.btn) {
    color: rgba(0, 0, 0, .64);
} */

@media (max-width: 576px) {
    .section-title span {
        display: block;
    }

    .mobile-center {
        text-align: center;
    }
}

/*		TNC 	*/
.tnc-wrapper {
    text-align: justify;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    margin-top: 40px;
}

.mt-30 {
    margin-top: 30px;
}

.cny-box-img-1 {
    background-image: url('../../../images/cny-pic/Slide01.jpg') !important;
}

.cny-box {
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
    background-position: center !important;
}

.cny-box-img-2 {
    background-image: url('../../../images/cny-pic/Slide02.jpg') !important;
}

.cny-box-img-3 {
    background-image: url('../../../images/cny-pic/Slide03.jpg') !important;
}

.cny-box-img-4 {
    background-image: url('../../../images/cny-pic/Slide04.jpg') !important;
}

.cny-box-img-5 {
    background-image: url('../../../images/cny-pic/Slide05.jpg') !important;
}

.cny-box-img-6 {
    background-image: url('../../../images/cny-pic/Slide06.jpg') !important;
}

.cny-box-img-7 {
    background-image: url('../../../images/cny-pic/Slide07.jpg') !important;
}

.cny-box-img-8 {
    background-image: url('../../../images/cny-pic/Slide08.jpg') !important;
}

.cny-box-img-9 {
    background-image: url('../../../images/cny-pic/Slide09.jpg') !important;
}

.cny-box-img-10 {
    background-image: url('../../../images/cny-pic/Slide10.jpg') !important;
}

.btn {
    font-family: "FS Albert Pro", sans-serif;
    border-radius: 0;
    font-weight: 600;
    padding: 14px 22px 13px;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

@media (max-width: 575px) {
    .btn {
        padding: 10px 15px 9px;
    }

    .btn-icon i {
        top: 14px !important;
    }
}

.btn:hover {
    text-decoration: none;
}

.btn:focus,
.btn:active {
    outline: none;
    box-shadow: none;
}

.btn-pill {
    border-radius: 50px;
}

.btn-shadow {
    box-shadow: 2px 3px 7px 0 rgba(0, 0, 0, 0.4);
}

.btn-shadow:hover,
.btn-shadow:focus,
.btn-shadow:active {
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.9);
    -webkit-transform: translate(1px, 2px);
    -ms-transform: translate(1px, 2px);
    transform: translate(1px, 2px);
}

.btn-white {
    background: white;
    color: #ec008c;
    border: 2px solid transparent;
    box-shadow: 2px 3px 7px 0 rgba(0, 0, 0, 0.4);
}

.btn-white:hover,
.btn-white:focus,
.btn-white:active {
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.9);
    -webkit-transform: translate(1px, 2px);
    -ms-transform: translate(1px, 2px);
    transform: translate(1px, 2px);
    background: rgba(255, 255, 255, 0.9);
    color: #ec008c;
}

.btn-white.disabled,
.btn-white:disabled {
    pointer-events: none;
}

.btn-white.btn-outlined {
    background: transparent;
    border-color: #ffffff;
}

.btn-white.btn-outlined:hover,
.btn-white.btn-outlined:focus,
.btn-white.btn-outlined:active {
    background: #ffffff;
    color: #ffffff;
}

.btn-pink {
    background: #ec008c;
    color: white;
    border: 2px solid transparent;
    box-shadow: 2px 3px 7px 0 rgba(0, 0, 0, 0.2);
}

.btn-pink:hover,
.btn-pink:active {
    background: #ec008c !important;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.9);
    -webkit-transform: translate(1px, 2px);
    -ms-transform: translate(1px, 2px);
    transform: translate(1px, 2px);
    color: white;
}

.btn-pink:focus {
    background: #ec008c;
    color: white;
    border: 2px solid transparent;
    box-shadow: 2px 3px 7px 0 rgba(0, 0, 0, 0.2);
}

.btn-pink.btn-outlined {
    background: transparent;
    border-color: #ec008c;
    color: #ec008c;
}

.btn-pink.btn-outlined:hover,
.btn-pink.btn-outlined:focus,
.btn-pink.btn-outlined:active {
    background: #ec008c;
    color: #ffffff;
}