@font-face {
    font-family: 'Frutiger LT Std';
    src: url('FrutigerLTStd-BlackCn.eot');
    src: url('FrutigerLTStd-BlackCn.eot?#iefix') format('embedded-opentype'),
        url('FrutigerLTStd-BlackCn.woff2') format('woff2'),
        url('FrutigerLTStd-BlackCn.woff') format('woff'),
        url('FrutigerLTStd-BlackCn.ttf') format('truetype'),
        url('FrutigerLTStd-BlackCn.svg#FrutigerLTStd-BlackCn') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Frutiger LT Std';
    src: url('FrutigerLTStd-Cn.eot');
    src: url('FrutigerLTStd-Cn.eot?#iefix') format('embedded-opentype'),
        url('FrutigerLTStd-Cn.woff2') format('woff2'),
        url('FrutigerLTStd-Cn.woff') format('woff'),
        url('FrutigerLTStd-Cn.ttf') format('truetype'),
        url('FrutigerLTStd-Cn.svg#FrutigerLTStd-Cn') format('svg');
    font-weight: normal;
    font-style: normal;
}

