.icon-48-qperksusers {
      background-image: url(../images/l_qperksusers.png);
      padding-left:60px!important;
}

.icon-48-qperksuser {
      background-image: url(../images/l_qperksusers.png);
      padding-left:60px!important;
}

.color-box-qperksusers { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}



.other-filters{
    padding: 0 14px;
}