.icon-48-qperksreferrals {
      background-image: url(../images/l_qperksreferrals.png);
      padding-left:60px!important;
}

.icon-48-qperksreferral {
      background-image: url(../images/l_qperksreferrals.png);
      padding-left:60px!important;
}

.color-box-qperksreferrals { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}



.other-filters{
    padding: 0 14px;
}