.icon-48-quakeclub2020rayas {
      background-image: url(../images/l_quakeclub2020rayas.png);
      padding-left:60px!important;
}

.icon-48-quakeclub2020raya {
      background-image: url(../images/l_quakeclub2020rayas.png);
      padding-left:60px!important;
}

.color-box-quakeclub2020rayas { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}



.other-filters{
    padding: 0 14px;
}