.icon-48-digitalsegmentmonthlyshares {
      background-image: url(../images/l_digitalsegmentmonthlyshares.png);
      padding-left:60px!important;
}

.icon-48-digitalsegmentmonthlyshare {
      background-image: url(../images/l_digitalsegmentmonthlyshares.png);
      padding-left:60px!important;
}

.color-box-digitalsegmentmonthlyshares { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}



.other-filters{
    padding: 0 14px;
}