body.com_quake_club_2020_raya {
    background: url('../img/main-bg.jpg') left top no-repeat;
    background-size: cover;
}

img#logo-click {
    width: 100px;
}

.modal p, .modal ul li {
    font-size: 16px;
    line-height: 1.3;
}

.share-button-container {
    /*overflow: hidden;*/
    position: relative;
}

.com_quake_club_2020_raya .btn-submit {
    border-radius: 25px;
    height: 40px;
    line-height: 40px;
    padding-top: 0;
    padding-bottom: 0;
}

.btn-submit.mute-btn-wrapper,
.btn-submit.mute-btn-wrapper:active {
    padding: 0px;
}
/*
.mute-btn-wrapper {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 9999;
}
*/
a.mute-btn {
    display: block;
    width: 40px;
    height: 40px;

    background: url('../img/mute-icon.png') left top no-repeat;
    background-size: cover;
    text-indent: -9999px;
    transition: none;
}

a.mute-btn.mute {
    background-position: left bottom; 
}

.com_quake_club_2020_raya .btn-submit {
    background: linear-gradient(135deg, rgb(23, 129, 80) 22%, rgb(32, 121, 102) 72%);
}
.com_quake_club_2020_raya .btn-submit:active {
    background: linear-gradient(135deg, rgb(23, 129, 80) 22%, rgb(32, 121, 102) 72%) !important;
    padding-top: 0px;
    padding-bottom: 0px;
}

#middle-content-height {
    padding-top: 10px;
    max-height: 85%;
}

#nav-left, 
#nav-right {
    height: 100px;
}

#nav-left i, 
#nav-right i {
    background: rgba(0,0,0,0.5);
    padding: 10px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.com_quake_club_2020_raya .at-icon-wrapper.at-share-btn {
    /*background: linear-gradient(135deg, rgb(23, 129, 80) 22%, rgb(32, 121, 102) 72%) !important;*/
    border-radius: 25px !important;
    color: #fff;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    padding: 10px 20px;
    margin: 12px 0;
    margin-right: 0.5rem;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.5;
}
.com_quake_club_2020_raya .at-resp-share-element .at-share-btn .at-label {
    font-size: 12px !important;
    font-weight: bold !important;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    display: none;
}

.share-title {
    padding: 10px 0px;
    margin: 12px 0;
    margin-right: 0.5rem;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.5;
}

.com_quake_club_2020_raya .addthis_inline_share_toolbox, 
.share-title {
    display: inline-block;
    vertical-align: top;
    color: black;
}

.com_quake_club_2020_raya .mr-2,
.com_quake_club_2020_raya .mx-2,
.com_quake_club_2020_raya .mt-2,
.com_quake_club_2020_raya .my-2 {
    vertical-align: top;
}

/* ========== SLIDER ========== */
.com_quake_club_2020_raya .shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.45)!important;
}

.com_quake_club_2020_raya #flipbook .odd,
.com_quake_club_2020_raya #flipbook .even {
    box-shadow: none;
}

.flipbook .cny-box-img-1 {
    background-image:url('../img/slide-01.jpg') !important;
}
.flipbook .cny-box-img-2 {
    background-image:url('../img/slide-02.jpg') !important;
}
.flipbook .cny-box-img-3 {
    background-image:url('../img/slide-03.jpg') !important;
}
.flipbook .cny-box-img-4 {
    background-image:url('../img/slide-04.jpg') !important;
}
.flipbook .cny-box-img-5 {
    background-image:url('../img/slide-05.jpg') !important;
}
.flipbook .cny-box-img-6 {
    background-image:url('../img/slide-06.jpg') !important;
}
.flipbook .cny-box-img-7 {
    background-image:url('../img/slide-07.jpg') !important;
}
.flipbook .cny-box-img-8 {
    background-image:url('../img/slide-08.jpg') !important;
}
.flipbook .cny-box-img-9 {
    background-image:url('../img/slide-09.jpg') !important;
}
.flipbook .cny-box-img-10 {
    background-image:url('../img/slide-10.jpg') !important;
}
.flipbook .cny-box-img-11 {
    background-image:url('../img/slide-11.jpg') !important;
}
.flipbook .cny-box-img-12 {
    background-image:url('../img/slide-12.jpg') !important;
}
.flipbook .cny-box-img-13 {
    background-image:url('../img/slide-13.jpg') !important;
}
.flipbook .cny-box-img-14 {
    background-image:url('../img/slide-14.jpg') !important;
}
.flipbook .cny-box-img-15 {
    background-image:url('../img/slide-15.jpg') !important;
}

@media screen and (max-width: 960px) {
    img#logo-click {
        width: 50px;
        margin-bottom: 0px !important;
    }

    .mr-2, .mx-2, .mt-2, .my-2 {
        margin-right: 0px !important;
        margin-top: 0px !important;
    }

    .mt-5, .my-5 {
        margin-top: 0px !important;
    }

    .logo-wrapper {
        padding-right: 0px;
    }

    .button-wrapper {
        padding-left: 0px;
    }

    .com_quake_club_2020_raya .at-icon-wrapper.at-share-btn {
        padding: 10px;
        margin: 0px;
    }

    .com_quake_club_2020_raya .btn-submit {
        margin: 0px;
        padding: 0px 10px;
    }

    .com_quake_club_2020_raya .btn-submit:active{
        margin: 0px;
        padding: 0px 10px;/*
        transform: translateY(5px);
        transform: translateY(5px);
        transform: translateY(5px);
        transform: translateY(5px);
        transform: translateY(5px);*/
    }

    .com_quake_club_2020_raya .btn-submit.mute-btn-wrapper {
        padding: 0px;
    }

    .com_quake_club_2020_raya .body {
        padding: 10px 0px;
        display: flex;
        align-items: center;
    }

    .share-title {
        margin: 0;
        margin-right: 0.5rem;
    }
}

@media screen and (max-width: 800px) {
    .share-title {
        padding: 5px 0px;
    }

    .com_quake_club_2020_raya .at-icon-wrapper.at-share-btn {
        padding: 5px;
    }

    .com_quake_club_2020_raya .btn-submit {
        height: 30px;
        line-height: 30px;
    }

    a.mute-btn {
        width: 30px;
        height: 30px;
        background-size: cover !important;
    }
}