thead tr th{
	border:1px solid #000;
}

tbody tr td {
	/*border:1px solid #000;*/
	border-right: 1px solid #000;
	border-left: 1px solid #000;
}

/*tr.border{
	border: 1px solid #ff0000;
}

tr.border2{
	border: 1px solid #ffff00;
}

tr.border:last-child, tr.border2:last-child{
		border:none;
} */

.borderbottom {
	border-bottom: 1px solid #000;
}