body, input, select, textarea {
    color: #333;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 18px;
}

/*login*/
.login-error {
    text-align: center;
    padding: 10px;
    position: relative;
}

.login-error p {
    background: #e7077d;
    color: #fff;
    padding: 10px;
}

.login-input-container {
    margin-top: calc(100vh/2.5);
    position: relative;
}

.login-input {
    width: 80%;
    margin-bottom: 10px;
    padding-top: 10px;
    outline:0px !important;
    -webkit-appearance:none;
}

.login-logo {
    float:right !important;
}

input {
    border: 0px;
    border-bottom: 1px solid #e7077d;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    background: #e7077d;
    color: #fff;
    padding: 5px 35px;
    margin: 5px 0px;
}

/*footer*/
footer{
    width: 100%;
    background: url(../img/astro_ci.jpg)no-repeat;
    background-size: 100% 4px;
    height: 3px;
    position: fixed;
    bottom: 0px;
}

.footer-text{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
}