@font-face {
    font-family: 'Frutiger LT Std';
    src: url('../fonts/FrutigerLTStd-BlackCn.eot');
    src: url('../fonts/FrutigerLTStd-BlackCn.woff2') format('woff2'),
        url('../fonts/FrutigerLTStd-BlackCn.woff') format('woff'),
        url('../fonts/FrutigerLTStd-BlackCn.ttf') format('truetype'),
        url('../fonts/FrutigerLTStd-BlackCn.svg#FrutigerLTStd-BlackCn') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Frutiger CN';
    src: url('../fonts/FrutigerLTStd-Cn.eot');
    src: url('../fonts/FrutigerLTStd-Cn.woff2') format('woff2'),
        url('../fonts/FrutigerLTStd-Cn.woff') format('woff'),
        url('../fonts/FrutigerLTStd-Cn.ttf') format('truetype'),
        url('../fonts/FrutigerLTStd-Cn.svg#FrutigerLTStd-Cn') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
    background-color: #040424;
    background-image: url('../img/rsvp_page.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Frutiger LT Std", sans-serif;
}

h1 {
    font-size: 30px;
}

h1 span {
    color: #068fbf;
}

h2 {
    font-size: 24px;
}

h2 span.small {
    font-size: 18px;
}

h2.font-cn {
    font-family: "Frutiger CN", sans-serif;
}

h2 span.yellow {
    color: #ffff9a;
    font-weight: 700;
}

.page-header {
    color: #fff;
}

.page-header img {
    width: 100%;
}

h1,
h2 {
    text-shadow: 0px 3px rgba(10, 29, 44, 0.5);
}

.astro-logo {
    text-align: end;
}

.astro-logo img {
    max-width: 120px;
}

hr {
    background-color: #fff;
    width: 50%;
}

.page-form label {
    color: #fff;
}

.page-form h2 {
    color: #fff;
}

.page-form label span {
    color: #ffff9a;
}

.page-form .form-control {
    border-radius: 0;
    border: 1px solid #858585;
    transition: all .3s ease;
    background-color: #fff;
}

.page-form .form-error {
    display: block;
    margin-top: 5px;
    font-size: 11px;
    color: #ffff9a;
}

.page-form .btn-submit {
    background: transparent;
    color: #068fbf;
    border: 1px solid #068fbf;
}

.page-form .btn-submit:hover {
    background: #068fbf;
    color: #fff;
    border: 1px solid transparent;
}

.btn-pill {
    border-radius: 0;
    padding-left: 20px;
    padding-right: 20px;
}

.swal-text {
    text-align: center;
}

.swal-content {
    margin-top:0px;
}

[v-cloak] > * { 
    display:none; 
}

.page-form .form-container {
    padding: 50px;
}

.footer {
    text-align: center;
}

.footer img {
    max-width: 160px;
}

@media only screen and (max-width: 767px) {
    .astro-logo {
        text-align: center;
    }
}

@media only screen and (max-width: 991px) {
    .responsive-logo {
        min-width: 768px;
    }
}

@media only screen and (max-width: 767px) {
    .responsive-logo {
        min-width: 640px;
    }
}

@media only screen and (max-width: 540px) {
    .responsive-logo {
        min-width: 360px;
    }
}

hr.hr-sm {
    width: 40%;
}

.swal-button-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.swal-button {
    border-radius: 0;
    background-color: #068fbf;
    font-family: "Frutiger LT Std", sans-serif;
}