/* Vue*/
[v-cloak] {
  display: none;
}
/*Basic*/
html,body{
	margin: 0;
}

html { height: 100%; }
body {
  min-height: 100%;
}

body, input, select, textarea {
    color: #34485c;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 18px;
}

::selection {
    color: #fff;
    background: #e7077d;
}

::-moz-selection {
    color: #fff;
    background: #e7077d;
}

.h1, h1 {
    font-size:24px;
    margin-bottom: 0px;
}

.h4, h4 {
    font-size: 18px;
}

textarea {
    resize: none;
    max-width: 100%;
    max-height: 100%;
    width:100%;
    padding: 15px;
}

label {
    font-weight: normal!important;
}

.col-1-5{
	flex: 0 0 8.33333%;
    max-width: 8.33333%;
}

.col-10-5{
	flex: 0 0 91.66667%;
	max-width: 91.66667%;
}

.col-1-5, .col-10-5{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.mb-15{
	margin-bottom:15px !important;
}

/*sidebar*/
.left-nav{
	color: #fff;
  background: #33485b;
  min-height: 100vh;
}

.user-detail label{
    color: #ccc;
    font-weight: normal;
}

a {
    font-family: 'PT Sans', sans-serif !important;
    color: #e7077d;
    transition: all 0.3s ease;
    opacity: 1;
    cursor: pointer;
    outline-style: none;

}

a:hover, a:active{
	color:#333;
	text-decoration:none;
  	background: #e7077d;

}

/*footer*/
footer{
    width: 100%;
    background: url(http://www.astropowerhour.tv/dms/assets/img/astro_ci.jpg)no-repeat;
    background-size: 100% 4px;
    height: 3px;
    position: fixed;
    bottom: 0px;
}

.footer-text{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
}

/*modal*/
.modal-content {
	border-radius: 0px;
}

.form-control{
    border-radius:0px;
}

.form-control:focus {
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1) inset, 0 0 0px rgba(255, 0, 0, 0);
    outline: 0 none;
}


.form-control:disabled, .form-control[readonly] {
    background-color: #fff !important;
    cursor: text;
    color: #495057 !important;
}

.alert-danger{
    background: transparent;
    color: #e7077d;
    display: block;
    padding-bottom: 5px;
    font-size: 12px;
}
/*unknown*/
/*a.dropdown-toggle {
    color: #666;
    text-decoration: none;
}

a.dropdown-toggle:hover, .a.dropdown-toggle.active {
    color: #333;
    text-decoration: none;
    background-color:transparent;
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    background-color: #333;
    background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: -o-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#e8e8e8));
    background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
    background-repeat: repeat-x;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #333;
    text-decoration: none;
    background-color: #e7077d;
}*/

.dropdown-menu>li>a {
    color:#495057 !important;
}

.dropdown-menu>li>a:hover {
    background: #e7077d !important;
    color:white;
}

.dropdown-menu > .highlight > a {

    background: #e7077d !important;
    color: #fff !important;
}

.v-select .dropdown-toggle {
    padding: 3px !important;
}
.v-select .dropdown-menu {
    min-width: 200px !important;
}
/*end of unknown*/
.input-btn:hover, .input-btn.active {
    /* color: #333; */
    text-decoration: none;
    opacity: 0.8;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    /* -webkit-transition: opacity .25s ease-in-out; */
}

.swal-button {
    background: #e7077d;
    color: #fff;
    padding: 5px 35px;
    margin: 5px 0px;
    cursor: pointer;
    border-radius: 0px;
}

.swal-button:active {
    background-color: #e7077d;
}

.vdp-datepicker__calendar .cell.selected {
    background: #e7077d !important;
}

.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover,
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month:hover,
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year:hover {
    border: 1px solid #e7077d !important;
}

.pagination-wrapper, .filter-option-wrapper {

    padding: 10px 0px;
    margin-top: 10px;
}

.pagination-wrapper > div {
    display: inline-block;
    vertical-align: middle;
}

.input-group{
    width:auto;
}

select {
    min-height: 24px;
}

.pagi-control {
    display: inline-block;
    cursor: pointer;
}

.pagi-control span {
    color: #e7077d;
}

.btnseparator {
    border-left: 1px solid #f6f6f6;
    border-right: 1px solid #f6f6f6;
    height: 24px;
    margin: 1px;
}

/*
    created by zy
    date 1/8/2018
*/

/* GENERAL*/
.p-30 {
    padding:1.875rem;
}

.ptb-10 {
    padding: 0.625rem 0;
}

.ptb-15 {
    padding: 0.9375rem 0;
}

.pr-16 {
    padding-right: 1rem;
}

.pt-30 {
    padding-top: 1.875rem;
}

.pb-10 {
    padding-bottom: 0.625rem;
}
.pb-15 {
    padding-bottom: 0.9375rem;
}

.pb-30 {
    padding-bottom:1.875rem;;
}

.pl-30 {
    padding-left:1.875rem;
}

.pr-30{
    padding-right:1.875rem;;
}

.pt-10 {
    padding-top:0.625rem;
}
.pt-20 {
    padding-top: 1.25rem;
}

.pt-100 {
    padding-top: 6.25rem;
}
.pb-20 {
    padding-bottom: 1.25rem;
}

.pl-20 {
    padding-left:1.25rem;
}

.pl-24 {
    padding-left: 1.5rem !important;
}
.pr-10 {
    padding-right:0.625rem;
}

.pr-20 {
    padding-right:1.25rem;
}

.pr-24 {
    padding-right: 1.5rem !important;
}

.ml-13 {
    margin-left:0.8125rem;
}

.mr-13 {
    margin-right: 0.8125rem;
}

.mr-15 {
    margin-right: 0.9375rem;
}

.ml-20 {
    margin-left:1.25rem;
}

.mt-10 {
    margin-top: 0.625rem;
}

.mt-34 {
    margin-top:2.125rem;
}

.mb-10 {
    margin-bottom: 0.625rem;
}
.mb-20 {
    margin-bottom: 1.25rem;
}

.mb-24 {
    margin-bottom: 1.5rem;
}

.mb-30 {
    margin-bottom: 1.875rem;
}

.mb-34 {
    margin-bottom: 2.125rem;
}

.mb-40 {
    margin-bottom: 2.5rem;
}

.mb-45 {
    margin-bottom: 45px;
}
.mtb-15 {
    margin: 0.9375rem 0;
}

.font-8 {
    font-size: 8px;
}
.font-12 {
    font-size:12px;
}

.font-13 {
    font-size:13px;
}

.font-14 {
    font-size:14px !important;
}
.font-15{
    font-size: 15px;
}

.font-16 {
    font-size:16px;
}

.font-18 {
    font-size: 18px !important;
}
.font-24{
    font-size:24px;
}

.font-36{
    font-size:36px;
}
label {
    margin-bottom:0;
}

/* SIDEBAR */
#mobile-navbar {
  display: none;
}
#nav-app {
    width:100%;
}

.sidebar-dark {
    background: #2a3c4d;
}

.nav-link {
    color:white;
}
.nav-link:hover{
    background: #e7077d;
    color:white
}

.fas {
    font-size: 10px;
    position: relative;
    bottom: 1px;
}

/* DASHBOARD */
.dashboard {
    background: #fff;
}

.main-title {
    font-size: 2rem;
}

.progress {
    height: 5px;
    border-radius: 0px;
    background: #c9c9c9;
}

.progress-bar {
    background: #e7077d;
}

.main-date-percent{
    color:#e7077d;
    font-size:18px;
    height:auto;
}

.main-date-tab {
    background:#f3f3f3;
}

.main-date-title{
    font-weight: bold;
}

.main-date-title-number {
    color:#858e98;
    font-size:1rem;
}

.nav-pills {
    border-bottom: 3px solid #858e98;
}

.nav-pills .nav-item {
    position: relative;
}

.nav-pills .nav-item .nav-link {
    margin-bottom: -3px;
    color: #858e98;
    font-size: 1.125rem;
    padding:0.9375rem 1.25rem ;
    font-weight: 600;
    transition: none;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: transparent;
    border-bottom: 3px solid #e7077d;
    color:#e7077d;

}

.nav-pills>li:first-child {
    margin-left:0px;
}

.nav-pills .nav-link {
    border-radius: 0px;
}

.nav-pills .nav-link:hover{
    border-bottom: 3px solid #e04b96;
    background: transparent;
    color: #e7077d;
}

.nav-pills.date-pills,
.date-pills .nav-link.active,
.date-pills .nav-link:hover {
  border-bottom-width: 6px;
}

.date-pills.nav-pills .nav-item .nav-link {
  margin-bottom: -6px;
}

.border-right {
    border-right: 2px solid #d2d5d8 !important;
}

.specific-attendance {
    background: linear-gradient(#e1e1e1, #f3f3f3);
    padding:30px;
}

.session-attendance {
    background: #f3f3f3;
    border-bottom:1px solid #d2d5d8;
}

.session-attendance-title {
    padding: 30px;
    border-right: 2px solid #d2d5d8;
    font-size: 18px;
    position: relative;
    border-bottom: 4px solid transparent;
    transition: border .3s ease;
}

.session-attendance-title:hover:not(:first-child) {
  cursor: pointer;
  border-bottom-color: #e7077d;
}

.session-attendance-time-active::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #e7077d;
  bottom: -12px;
  left: 48%;
  position: absolute;
}
.session-attendance-time-active .session-attendance-time {
  color: #e7077d;
}

.session-attendance-time {
    cursor: pointer;
    padding-right: 30px;
}

.session-attendance-time-active {
    /* color:#e7077d; */
    border-bottom-color: #e7077d;
}

.search-btn,
.modal-save-btn {
    background:#e7077d;
    color:white;
    padding: 10px 20px;
    margin:0;
    line-height: normal;
}
.search-btn:hover,
.modal-save-btn:hover {
  background: #d60774;
}
.search-btn:disabled,
.modal-save-btn:disabled {
  background:#e7077d;
  color:white;
  opacity: 0.6;
}

.search-btn i, .cancel-btn i, .modal-save-btn i{
  font-size: 14px;
  bottom: 0;
}
.specific-attendance .search-btn {
  padding: 0.9375rem;
}
/* TABLE */
/* .table td, .table th {
    vertical-align: inherit;
} */
table thead.table-header-design tr th {
    color: #657688;
    font-size: 14px;
    text-align: left;
    vertical-align: top;
    border-bottom: 1px solid #e7077d;
    padding: 1.25rem 8px;
}

table tbody tr td {
    font-size: 13px;
    padding:0.9375rem 8px !important;
    text-align: left;
}

.table-hover tbody tr:hover {
  background-color: #e7e8ea;
}

.orange {
    color:#f9ae00;
}

.green {
    color:#7ab929;
}

.red {
    color:#e84e0f;
}

.blue {
    color:#007ec7;
}

.light-grey {
    color: #99a3ad;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0px;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #e7077d;
    border:none;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    background-color: #e7077d;
}

.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none;
}

.custom-control-label::before {
    background: transparent;
    border:1px solid #858e98;
}

.edit-btn a{
    padding: 7px 17px 7px 13px;
    white-space: nowrap;
=}

.edit-btn a:hover{
    color: white !important;
}

input[type=text] {
    padding: 0.9375rem;
    font-size:14px;
}

input::placeholder {
  font-style: italic;
  font-size:14px;
  color: #8d959e;
}

select {
    padding: 0.3125rem;
}

input,
select {
    border-color: #858e98 !important;
}

.right-paginate{
    position: absolute;
    right: 0;
}

.align-center {
    align-items: center;
}

/* AGREEMENT */

.sub-title {
    color: #34485c;
    font-weight: bold;
    border-bottom: 1px solid #858e98;
}

.agreement-title{
    color: #858e98;
}

.agreement-input {
    font-size:14px;
    border-color: #c9c9c9 !important;
    padding: 10px 15px !important;
}

select.form-control:not([size]):not([multiple]) {
    height:auto;
}

.custom-radio {
    padding-top: 3px;
    margin-bottom:1.25rem;
}

#agreement-app .form-group {
    margin-bottom:1.25rem;
}

.agreement-summary-wrapper {
    padding-right: 0px;
    background: #efefef;
}

.agreement-summary {
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.agreement-summary-title {
    color: #888888;
    margin: 0px;
}

.agreement-summary-box {
    background: #fff;
    padding: 15px;
    margin-top: 5px;
}

.agreement-package-duration, .agreement-package-detail {
    padding-bottom: 0.9375rem;
}

.agreement-package {
    float: left;
    font-size: 13px;
    width: 65%;
}

.agreement-package>span {
    color: #8d959e;
}

.agreement-price {
    float: right;
    min-width: 70px;
    text-align: right;
    font-weight: 600;
}

.agreement-title-left {
    float: left;
    text-align: left;
}

.agreement-total-price span {
    background: #efefef;
    float: right;
    font-weight: bold;
    font-size: 18px;
    padding: 2px 0px 0px 10px;
}

.agreement-num {
    float: right;
}

.tax-wrapper {
    border-bottom: 1px solid #e7077d;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.total-wrapper {
    color:#e7077d;
    margin-bottom: 45px;
}

.price-summary > dt {
  font-weight: 400;
  margin-bottom: .5rem;
}

.price-summary dd {
  font-weight: 600 !important;
  text-align: right !important;
}

/* MODAL */
@media (min-width: 992px) {
    .modal-lg {
        max-width: 90%;
    }
}

/*@media (min-width: 576px){*/
  /*.modal-dialog {*/
      /*max-width: 80%;*/
  /*}*/
/*}*/

.modal-content {
    border-radius: 0px;
    background: #f3f3f3;
    padding: 30px;
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 75%;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: rgba(255, 255, 255, .95);
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    text-align: left;
}

.modal-header {
    margin-bottom: 25px;
    padding: 0px 0px 25px 0px;
    color: #333;
    font-size: 24px;
    border-bottom: 1px solid #858e98;
}

.modal-body {

    color: #858e98;
    padding: 0px;
}

.modal-input label {
    padding-bottom: 10px !important;
}

.modal-input .form-control {
    padding: 10px 15px;
}
.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.agreement-table-title{
    font-size: 18px;
    color: #34485c;
    margin-bottom: 15px;
    margin-top: 40px;
}

.table-sm{
    background-color: white;
    border-top: 3px solid #858e98;
}

.modal-save-btn {
    background: rgb(231, 7, 125);
    color: white;
    padding: 10px 20px ;
    margin: 0px 0.9375rem 0 0;
    line-height: normal;
    width:auto;
    border:none;
}

.modal-cancel-btn {
    background: #858e98;
    color: white;
    padding: 10px 20px ;
    margin: 0px;
    line-height: normal;
    width: auto;
    border:none;
}

.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

.advertiser-listing input {
    font-size: 14px !important;
}

.advertiser-listing button {
    display: none;
}

.advertiser-listing .dropdown-toggle {
    border-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

/*agreement*/
.advertiser-listing.border-danger .dropdown-toggle {
    border-color: #dc3545 ;
}

.border-danger {
    border-color: #dc3545 !important;
}

.vdp-datepicker.border-danger input {
    border-color: #dc3545 !important;
}

.has-error {
    color: #dc3545 !important;
}

.custom-radio .custom-control-input:checked~.custom-control-label::before {
    background-color: #e7077d;
}

.table-header-design>tr>th>a {
    color:#657688 ;
}

.table-header-design>tr>th>a:hover{
    color:#e7077d;
    background: transparent;
}

.table-header-design>tr>th .fa-sort {
  opacity: 0.5;
  font-size: 13px;
}

a:not([href]):not([tabindex]) {
    color: #e7077d;
    text-decoration: none;
}

.btn {
  border-radius: 0;
}

.cancel-btn {
    background:#858e98;
    color:white;
    padding: 10px 20px ;
    margin:0;
    line-height: normal;
}

.cancel-btn:hover {
    background: #707a85;
    color: white;
}
.create-agreement-btn {
    background: #e7077d;
    color: white;
    padding: 7px 17px 7px 13px;
}
.create-agreement-btn:hover {
  color: white;
}

.nav-error {
  position: relative;
}

.nav-error::before {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    color: #ffa800;
    right: -7px;
    top: 5px;
    font-size: 16px;
    font-weight: 600;
    background-image: url('../img/error1.png');
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
}

.line-height-08 {
    line-height: 0.8;
}

.img-wrapper {
    padding:30px;
}

.img-wrapper:hover{
  background:transparent
}

@media only screen and (max-width: 1421px) {
    .session-attendance-title {
        padding: 15px 15px;
        font-size:15px;
    }

    .specific-attendance {
        padding:15px;
    }
    .session-attendance-time {
        padding-right: 15px;
    }

    .main-date-percent {
        font-size:13px;
    }

    h1 {
        font-size:20px;
    }

    h4 {
        font-size: 16px;
    }
    .font-36 {
        font-size:20px;
    }

    .font-24 {
        font-size:18px;
    }

    .font-18 {
        font-size:13px !important;
    }
    .font-16, .font-15 {
        font-size:13px;
    }

    .p-30 {
        padding: 0.9375rem;
    }

    .pr-30 {
        padding-right: 1.25rem;
    }

    .pl-30 {
        padding-left: 1.25rem;
    }

    .pb-30 {
        padding-bottom: 1.25rem;
    }

    .pt-30 {
        padding-top: 1.25rem;
    }

    .pb-20 {
        padding-bottom: 0.625rem;
    }

    .pr-20 {
        padding-right: 0.625rem;
    }

    .pl-20 {
        padding-left: 0.625rem;
    }

    input[type=text], .specific-attendance .search-btn{
        padding: 0.625rem !important;
    }

    .search-btn,
    .cancel-btn,
    .modal-save-btn {
        padding: 0.625rem;
    }

    .mt-34 {
        margin-top: 1.25rem;
    }

    .nav-pills .nav-item .nav-link{
        font-size: 0.8125rem;
        padding: 0.625rem 0.9375rem;
    }

    select{
        padding: 0px;
    }

    .line-height-08 {
        line-height: 1.0
    }

    .agreement-summary-wrapper {
        padding-left: 0px;
    }

    .agreement-summary {
        padding-top:75px;
    }

    .navbar-brand:active, .navbar-brand:hover {
        background: transparent;
    }
}


/* @media only screen and (max-width: 1040px) { */
@media only screen and (max-width: 1199px) {
    .session-attendance-time {
        padding-right: 10px;
    }

    table tbody tr td {
        padding: 0.9375rem 0.625rem !important;
    }

    .nav-link:hover {
      background-color: transparent;
    }

    .left-nav {
      display: none;
    }
}

/* navbar*/
.navbar {
    padding: .5rem 1.5625rem;
}
.bg-dark {
    background: #33485b !important;
}

.navbar {
    padding: .5rem 25px;
}

.navbar-dark .navbar-nav .nav-link {
    color:white;
}

.text-not-eligible {
    color:#e7077d;
}

.custom-select {
    position: absolute;
    left: 75px;
    top: -4px;
    width: 120px;
    padding: 2px !important;
}

.table td, .table th{
    vertical-align: middle;
}

