@font-face {
    font-family: IcoMoon;
    src: url('../fonts/IcoMoon-Free.ttf');
}

.sypf_period_cont{
	display: flex;
}

.sypf_date {
	padding: 4px 15px 2px;
}


.sypf_start {

}
.sypf_date_sep {
	padding: 2px 12px;
}
#periodseparator {
    vertical-align: middle;
}

.period-first{

}

.sypf-margin-top{
	margin-top: 15px;
}

.sypf-margin-bottom{
	margin-bottom: 15px;
}

.sypf-inline {
	display:inline-block;
}
.sypf-hide-sep .sypf_date_sep{
	display:none;
}

.sypf-hide-sep-icon i {
	display: none;
}

.syslider div:nth-child(1):not(.syslider-content):not(.sy-bg-slider) {
	overflow: visible !important;
	min-height: 11px !important;
}
.syslider-content {
	overflow: visible !important;
	margin: 0 !important;
}
.sy-bg-slider {
    height: 100%;
    position: relative;
    box-sizing: border-box;
    transition: width 0.35s;
    border-radius: 30px;
}
.sy-min {
    display: inline-block;
}
.sy-max {
    display: inline-block;
    float: right;
}
.tooltip-container {
	display: none;
}

#com-content-formContent .syslider-content #sy_value_handle{
	top: -.24em;
}
.syhidden{
	display: none;
}