@font-face {
  font-family: 'FS Albert Pro';
  src: url('../fonts/FSAlbertPro.eot');
  src: url('../fonts/FSAlbertPro.eot?#iefix') format('embedded-opentype'), url('../fonts/FSAlbertPro.woff2') format('woff2'), url('../fonts/FSAlbertPro.woff') format('woff'), url('../fonts/FSAlbertPro.ttf') format('truetype'), url('../fonts/FSAlbertPro.svg#FSAlbertPro') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FS Albert Pro';
  src: url('../fonts/FSAlbertPro-BoldItalic.eot');
  src: url('../fonts/FSAlbertPro-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/FSAlbertPro-BoldItalic.woff2') format('woff2'), url('../fonts/FSAlbertPro-BoldItalic.woff') format('woff'), url('../fonts/FSAlbertPro-BoldItalic.ttf') format('truetype'), url('../fonts/FSAlbertPro-BoldItalic.svg#FSAlbertPro-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'FS Albert Pro';
  src: url('../fonts/FSAlbertPro-Italic.eot');
  src: url('../fonts/FSAlbertPro-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/FSAlbertPro-Italic.woff2') format('woff2'), url('../fonts/FSAlbertPro-Italic.woff') format('woff'), url('../fonts/FSAlbertPro-Italic.ttf') format('truetype'), url('../fonts/FSAlbertPro-Italic.svg#FSAlbertPro-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'FS Albert Pro';
  src: url('../fonts/FSAlbertPro-Bold.eot');
  src: url('../fonts/FSAlbertPro-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/FSAlbertPro-Bold.woff2') format('woff2'), url('../fonts/FSAlbertPro-Bold.woff') format('woff'), url('../fonts/FSAlbertPro-Bold.ttf') format('truetype'), url('../fonts/FSAlbertPro-Bold.svg#FSAlbertPro-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
::-moz-selection { background: #ec008c; color: white}
::selection { background: #ec008c;  color: white}
::-webkit-input-placeholder {
  color: #bbb !important;
}
::placeholder{
  color: #bbb !important;
}
:-moz-placeholder{
  color: #bbb !important;
}
::-moz-placeholder{
  color: #bbb !important;
}
:-ms-input-placeholder{
  color: #bbb !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "FS Albert Pro", sans-serif;
  margin-top: 0;
  line-height: 1.1;
  font-weight: 600;
}
.font-default {
  font-family: Arial, Helvetica, sans-serif !important;
}
.font-brand {
  font-family: "FS Albert Pro", sans-serif !important;
}
.text-highlight {
  color: #ec008c !important;
}
.bg-pink {
  background-color: #ec008c;
}
.bg-yellow {
  /* background-color: #f7ac2a; */
  background-color: #FFC219;
}
.bg-blue {
  background-color: #00AEEF;
}
.bg-orange {
  background-color: #F58226;
}
a {
  color: #04030d;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
a:hover:not(.btn),
a:focus:not(.btn) {
  color: #04030d;
  outline: 0;
  box-shadow: none;
  text-decoration: none;
}
h2 {
  font-size: 36px;
}
.page-title {
  font-size: 36px;
  color: white;
}
.page-title small {
  font-size: 55%;
  color: white;
  opacity: 0.5;
  margin-top: 5px;
  display: block;
}
@media (max-width: 767px) {
  .page-title {
    font-size: 30px;
  }
}
.section-title {
  font-size: 20px;
  margin-bottom: 15px;
  font-family: "FS Albert Pro", sans-serif;
}
.section-desc {
  font-size: 18px;
  margin-bottom: 20px;
  font-family: "FS Albert Pro", sans-serif;
}
.bold {
  font-weight: 600 !important;
}
.upper {
  text-transform: uppercase;
}
.underlined {
  text-decoration: underline;
}
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}
.transition {
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.background-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.box-shadow {
  box-shadow: 2px 3px 7px 0 rgba(0, 0, 0, 0.4);
}
.text-shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
}
.center-aligned {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.vertical-aligned {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
hr {
  height: 1px;
  background: #d3c7ce;
  margin: 15px 0;
  border: 0;
}
.py-8 {
  padding-top: 80px;
  padding-bottom: 80px;
}
.mt-7 {
  margin-top: 70px;
}
.mt-10 {
  margin-top: 100px;
}
.pointer {
  cursor: pointer;
}
html {
  height: 100%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #04030d;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  line-height: 1.3;
  font-size: 16px;
  padding-top: 102px;
  overflow-x: hidden;

  flex-direction: column;
  display: flex;
}
footer {
   flex-shrink: 0;
}
.body {
  flex: 1 0 auto;
}
@media (max-width: 1199px) {
  body {
    padding-top: 76px;
  }
}
/* @media (max-width: 575px) {
  body {
    font-size: 14px;
  }
} */
img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
footer {
  background: #f0f0f0;
  margin-top: 80px;
}

.tab-pills {
  margin-bottom: 40px;
  /* margin-bottom: 80px; */
}
/* .content {
  min-height: 500px;
} */
@media (max-width: 991px) {
  .tab-pills {
    margin-bottom: 40px;
  }
}
@media (max-width: 991px) {
  .tab-pills.scrollable-tab {
    overflow: hidden;
    position: sticky;
    top: 76px;
    left: 0;
    right: 0;
    background-color: #f0f0f0;
    z-index: 9;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .tab-pills.scrollable-tab.shrink {
    top: 49px;
  }
  .tab-pills.scrollable-tab .row {
    overflow: auto;
    white-space: nowrap;
    display: block;
    position: relative;
    font-size: 0;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .tab-pills.scrollable-tab .row::-webkit-scrollbar {
    display: none;
  }
  .tab-pills.scrollable-tab .row > div {
    display: inline-block;
    width: auto;
    padding: 0;
    min-width: 40%;
  }
  .tab-pills.scrollable-tab .row > div .tab-pill {
    padding: 15px 40px;
    font-size: 14px;
    border-bottom: 0;
    border-top: 0;
  }
}
.tab-pill {
  background-color: #f0f0f0;
  font-weight: 600;
  display: block;
  text-align: center;
  padding: 25px 20px;
  font-family: "FS Albert Pro", sans-serif;
  border: 1px solid #e1e1e1;
}
.tab-pill.active {
  background-color: #ec008c;
  color: white !important;
  pointer-events: none;
}
.tab-pill:not(.active):hover {
  background-color: #e3e3e3;
}
.collapsing .channel-tooltip {
  display: none;
}
.channel-tooltip {
  background-color: #313131;
  width: 320px;
  opacity: 0;
  transition: opacity 0.2s linear 0.1s;
  z-index: 9;
  color: white;
  top: 120%;
  position: fixed;
  pointer-events: none;
}
@media (min-width: 992px) {
  .channel-tooltip {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    pointer-events: none;
  }
  .channel-tooltip .close {
    display: none;
  }
  .channel-tooltip:hover {
    transition: opacity 0.2s linear 0s;
    opacity: 1;
    pointer-events: auto;
  }
  .channel-tooltip::before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(49, 49, 49, 0);
    border-bottom-color: #313131;
    border-width: 10px;
    margin-left: -10px;
  }
}
.channel-tooltip .tooltip-desc {
  padding: 25px 30px;
  font-size: 14px;
}
.channel-tooltip .tooltip-footer {
  background-color: #616161;
  padding: 20px 30px;
  font-size: 14px;
}
.channel-tooltip .tooltip-header {
  display: none;
}
.channel-tooltip .reach-figure {
  text-align: right
}
@media (max-width: 991px) {
  .channel-tooltip.show {
    pointer-events: auto;
    transition: opacity 0.2s linear 0s;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 80%;
    z-index: 99;
    position: fixed !important;
    box-shadow: 2px 3px 7px 0 rgba(0, 0, 0, 0.4);
  }
  .channel-tooltip .close {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 20px;
    color: white;
    opacity: 1;
    font-size: 16px;
  }
  .channel-tooltip .tooltip-header {
    display: block;
    background: white;
    padding: 15px;
    text-align: center;
    border: 1px solid #eee;
  }
  .channel-tooltip .close {
    color: #616161;
  }
  .channel-tooltip,
  .channel-tooltip .reach-figure {
    text-align: center;
  }
  .channel-tooltip .reach-figure {
    margin-top:  10px;
    font-size: 16px;
    font-weight: bold;
  }
  .channel-tooltip .tooltip-desc {
    max-height: 35vh;
    overflow-y: auto;
    margin: 25px 20px;
    padding: 10px;
  }
  .channel-tooltip .tooltip-desc::-webkit-scrollbar-track
  {
  	background-color: transparent;
  }

  .channel-tooltip .tooltip-desc::-webkit-scrollbar
  {
  	width: 3px;
  	background-color: #444;
    border-radius: 10px;
  }

  .channel-tooltip .tooltip-desc::-webkit-scrollbar-thumb
  {
  	background-color: #ec008c;
    border-radius: 10px;
  }
  #accordion-channel .card-body {
    text-align: center;
  }
}

@media (max-width: 575px) {
  #accordion-channel .channel-item {
    max-width: 27%;
    text-align: center;
    margin: 10px !important;
  }
  /* #accordion-channel .channel-item img {
    max-width: 100%;
    max-height: none;
  } */
}
@media (max-width: 420px) {
  #accordion-channel .channel-item {
    max-width:40%;
  }
}
.overlay {
  position: fixed;
  top: -80px;
  bottom: -80px;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 98;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;

  animation: overlayFade linear .3s;
  animation-iteration-count: 1;
}
@keyframes overlayFade{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
.block-click {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 98;
}
.accordion-holder {
  margin-top: 40px;
}
.accordion .card-header {
  background-color: transparent;
  color: #04030d;
  border-width: 1px 0 0 0;
  border-top: 1px solid #e1e1e1;
  border-bottom: 0;
  padding: 20px 30px;
  position: relative;
  cursor: pointer;
  border-radius: 0;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.accordion .card:last-child .card-header {
  border-bottom: 1px solid #e1e1e1;
}
.accordion .card-header h5 {
  margin: 0 40px 0 0;
  font-size: 16px;
}
.accordion .card-header .indicator {
  position: absolute;
  top: 18px;
  right: 50px;
  font-size: 21px;
  color: #ec008c;
}
.accordion .card-header .indicator:before {
  content: "";
  top: 0;
  left: 11px;
  width: 3px;
  height: 21px;
  background-color: #ec008c;
  position: absolute;
  margin-left: -2px;
}
.accordion .card-header .indicator:after {
  content: "";
  top: 11px;
  left: 0;
  width: 21px;
  height: 3px;
  background-color: #ec008c;
  margin-top: -2px;
  position: absolute;
}
.accordion .card-header[aria-expanded="false"]:hover h5 {
  transition: all 0.3s ease;
  color: #ec008c;
}
@media (max-width: 767px) {
  .accordion .card-header {
    padding: 20px 15px;
  }
  .accordion .card-header .indicator {
    right: 40px;
  }
}
.accordion .card-header[aria-expanded="true"] {
  background-color: #ec008c;
  color: white;
}
.accordion .card-header[aria-expanded="true"] .indicator::before {
  content: "\f068";
  color: white;
}
.accordion .card-header[aria-expanded="true"] .indicator:before {
  display: none;
}
.accordion .card-header[aria-expanded="true"] .indicator:after {
  background-color: white;
}
.accordion .card-body {
  padding: 20px 30px;
}
.accordion .channel-item {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}
.accordion .channel-item img {
  max-height: 60px;
}
@media (min-width: 992px) {
  .accordion .channel-item img:hover ~ .channel-tooltip,
  .accordion .channel-item img:focus ~ .channel-tooltip {
    transition: opacity 0.2s linear 0s;
    opacity: 1;
    pointer-events: auto;
  }
}
.filter-options {
  margin-bottom: 20px;
}
.filter-options .form-label {
  margin-right: 20px;
  margin-bottom: 0;
}
.filter-options .bootstrap-select .dropdown-toggle{
  border: 0;
}
.article {
  font-family: "FS Albert Pro", sans-serif;
  font-weight: 600;
  margin-bottom: 30px;
  line-height: 1.1;
}
.article .article-date {
  color: #a3a3a3;
  font-size: 14px;
  margin-bottom: 5px;
}
.article .article-title {
  margin-bottom: 10px;
  font-size: 20px;
}
.article .article-link {
  color: #ec008c;
  cursor: pointer;
}
.article .img-holder {
  display: block;
  margin-bottom: 15px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #e1e1e1;
  position: relative;
  transition: all 0.4s ease;

}
.article .img-holder .overlayer {
  /* position: absolute;
  bottom: 0;
  left:0;
  right: 0;
  opacity: 0;
  top: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  z-index: 2; */

  display: none;
}
.article .img-holder .overlayer:after {
  position: absolute;
  content: "\f061";
  font-family: "Font Awesome 5 Free";
  right: 55px;
  bottom: 10px;
  color: #ec008c;
  opacity: 0;
  transition: all 0.4s ease 0.3s;
}
/* .article .hover-area:hover .img-holder .overlayer {
  opacity:1;
  top: 0;
} */
@media (min-width: 992px) {
  .article .hover-area:hover .img-holder {
    transform: translate(0px,-6px);
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
  }
}
.article .hover-area:hover .img-holder .overlayer:after {
  right: 15px;
  opacity: 1;
}
@media (max-width: 991px) {
  .article .img-holder .overlayer {
    display: none !important;
  }
}
.img-holder .placeholder {
  visibility: hidden;
  width: 100%;
  height: auto;
}
.article-wrapper {
  z-index: 2;
  position: relative;
  padding-top: 20px;
}
.article-wrapper .img-holder {
  display: block;
  margin-bottom: 15px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.article-wrapper .img-holder .placeholder {
  visibility: hidden;
  height: auto;
  width: 100%;
}
.dropdown-menu.show .dropdown-menu {
  display: block !important;
}
.dropdown-menu.show {
  max-height: 300px !important;
}
.loading-bar {
  margin: 40px auto;
  text-align: center;
  cursor: pointer;
}
.loading-bar > div {
  padding: 20px 40px;
  margin: 0 auto;
  display: inline-block;
  width: 260px;
  max-width: 100%;
  font-family: "FS Albert Pro", sans-serif;
  border-radius: 0;
  font-weight: 600;
  padding: 14px 22px 13px;
  background: #ec008c;
  color: white;
  border: 2px solid transparent;
  box-shadow: 2px 3px 7px 0 rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.loading-bar > div:hover {
  text-decoration: none;
}
.loading-bar > div:focus,
.loading-bar > div:active {
  outline: none;
  box-shadow: none;
}
.loading-bar > div:hover,
.loading-bar > div:focus,
.loading-bar > div:active {
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.9);
  -webkit-transform: translate(1px, 2px);
  -ms-transform: translate(1px, 2px);
  transform: translate(1px, 2px);
}
.loading-bar > div:hover,
.loading-bar > div:focus,
.loading-bar > div:active {
  color: white;
}
.loading-bar > div:focus {
  background-color: #c30074;
}
.loading-bar > div.btn-outlined {
  background: transparent;
  border-color: #ec008c;
}
.loading-bar > div.btn-outlined:hover,
.loading-bar > div.btn-outlined:focus,
.loading-bar > div.btn-outlined:active {
  background: #ec008c;
  color: #ffffff;
}
.loading-bar > div:hover,
.loading-bar > div:focus,
.loading-bar > div:active {
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.9);
  -webkit-transform: translate(1px, 2px);
  -ms-transform: translate(1px, 2px);
  transform: translate(1px, 2px);
}
@media (max-width: 575px) {
  .loading-bar > div {
    display: block;
    width: 100%;
  }
}
.article-details .nav-label {
  color: #ec008c;
  font-size: 20px;
  font-family: "FS Albert Pro", sans-serif;
  font-weight: 600;
}
.article-details .nav-label i {
  margin: 0 10px;
  vertical-align: baseline;
  font-size: 18px;
}
.article-details .related-article-title {
  font-size: 14px;
  margin-top: 10px;
  font-family: "FS Albert Pro", sans-serif;
  font-weight: 600;
}
.article-details .pagination-side {
  position: absolute;
  top: 180px;
  left: 0;
  right: 0;
  padding-right: 20px;
  font-family: "FS Albert Pro", sans-serif;
  font-weight: 600;
}
.article-details .pagination-side i {
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.article-details .pagination-side:hover i {
  margin-right: 15px;
}
.article-details .lSSlideWrapper {
  border: 1px solid #e1e1e1;
}
@media (max-width: 991px) {
  .article-details .pagination-side {
    display: none;
  }
}
.article-details .pagination-side:after {
  content: "";
  width: 50px;
  height: 120%;
  min-height: 60px;
  top: 0;
  right: -57px;
  position: absolute;
  box-shadow: -10px 0px 30px 0 rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  z-index: -2;
}
.article-details .pagination-side:before {
  content: "";
  background: white;
  width: 100px;
  height: 200%;
  min-height: 120px;
  top: -50%;
  right: -100px;
  position: absolute;
  z-index: -1;
}
.article-details .pagination-side.next {
  padding-right: 0;
  padding-left: 30px;
}
.article-details .pagination-side.next:after {
  right: auto;
  left: -57px;
  box-shadow: 10px 0px 30px 0 rgba(0, 0, 0, 0.2);
}
.article-details .pagination-side.next:before {
  right: auto;
  left: -100px;
}
.article-details .pagination-side.next:hover i {
  margin-left: 15px;
}
.article-details .feature-img {
  margin-bottom: 30px;
}
.article-details .feature-img img {
  max-width: 100%;
}
.article-details .date {
  font-weight: 600;
  font-family: "FS Albert Pro", sans-serif;
  color: #a3a3a3;
  margin-bottom: 10px;
  font-size: 14px;
}
.article-details .title {
  font-size: 24px;
  margin-bottom: 30px;
}
.article-details .title small {
  color: #a3a3a3;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  margin-top: 10px;
  font-size: 70%;
}
.editor-content {
  font-size: 14px;
  line-height: 1.6;
}
.editor-content p{
  margin-bottom: 10px;
}
.editor-content img {
  max-width: 100%;
}
.mobile-pagination {
  margin-top: 40px;
}
.mobile-pagination .fa-chevron-left {
  margin-left: 0 !important;
}
.mobile-pagination .fa-chevron-right {
  margin-right: 0 !important;
}
.footer {
  padding: 60px 0;
  font-size: 14px;
}
@media (max-width: 1199px) {
  .footer {
    padding: 30px 0;
  }
}
.footer h4 {
  font-size: 16px;
}
.footer i:not(#load-icon) {
  font-size: 28px;
  font-weight: normal;
  position: relative;
  top: 4px;
}
.footer li a {
  padding: 10px 0;
  display: block;
}
.footer li a h4 {
  margin: 0;
}
.footer li:first-child a {
  padding-top: 0;
}
@media (max-width: 767px) {
  .footer {
    font-size: 12px;
  }
  .footer h4 {
    font-size: 14px;
  }
  .footer .astro-media {
    width: 70px;
  }
}
.copyright {
  border-top: 1px solid #a3a3a3;
  padding: 30px 0;
  font-size: 13px;
}
@media (max-width: 1199px) {
  .copyright {
    padding: 15px 0;
  }
}
@media (max-width: 767px) {
  .copyright {
    font-size: 11px;
  }
}
#backTop {
  background-color: #312f45;
  color: white;
  width: 40px;
  height: 50px;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  position: fixed;
  z-index: 3;
  right: 20px;
  bottom: -10px;
  opacity: 0;
  font-family: "FS Albert Pro", sans-serif;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  transition-delay: 0.3s;
  pointer-events: none;
}
#backTop.show {
  opacity: 0.7;
  pointer-events: auto;
  cursor: pointer;
}
@media (min-width: 768px) {
  #backTop.show:hover,
  #backTop.show:focus {
    opacity: 1;
    bottom: 0;
    transition-delay: 0s;
  }
}
.cta {
  background-color: #312f45;
  color: white;
  padding: 120px 0;
  text-align: center;
  line-height: 1.4;
  font-size: 16px;
  position: relative;
}
.cta .deco-bg {
  position: absolute;
  z-index: 2;
  pointer-events: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}
.cta .deco {
  position: absolute;
  z-index: 2;
}
.cta .pattern-left {
  bottom: 0;
  left: 0;
}
.cta .pattern-right {
  top: 0;
  right: 0;
}
.cta .frame-left {
  bottom: 60px;
  right: 56%;
  width: 264px;
  max-width: 40%;
}
.cta .frame-right {
  top: 60px;
  left: 61%;
  width: 190px;
  max-width: 30%;
}
@media (max-width: 767px) {
  .cta .frame-left {
    right: auto !important;
    left: 20px;
  }
  .cta .frame-right {
    left: auto !important;
    right: 20px;
  }
  .cta .pattern-left {
    left: auto;
    right: 50%;
  }
  .cta .pattern-right {
    right: auto;
    left: 70%;
  }
}
.cta.index-cta {
  padding: 180px 0;
}
.cta.index-cta .frame-left {
  bottom: 120px;
  right: 55%;
}
.cta.index-cta .frame-right {
  top: 120px;
  left: 60%;
}
.cta.index-cta .recorder {
  max-width: 56%;
  bottom: 0;
  right: 77%;
}
.cta.index-cta .pattern-bottom {
  right: 0;
  bottom: 0;
}
@media (max-width: 1299px) {
  .cta.index-cta .recorder {
    right: 77%;
  }
  .cta.index-cta .pattern-bottom {
    left: 50%;
  }
}
@media (max-width: 1199px) {
  .cta.index-cta .frame-left {
    right: 49%;
  }
  .cta.index-cta .frame-right {
    left: 57%;
  }
}
@media (max-width: 991px) {
  .cta.index-cta .recorder {
    display: none;
  }

  .cta {
    padding: 80px 0 !important;
  }
  .cta .frame-left {
    bottom: 30px !important;
  }
  .cta .frame-right {
    top: 30px !important;
  }
}
.viewership {
  background: #ec008c;
  color: white;
  padding: 60px 0;
  text-align: center;
}
.viewership figure {
  font-size: 60px;
  font-family: "FS Albert Pro", sans-serif;
  font-weight: 600;
  margin: 0;
}
.viewership h3 {
  font-size: 16px;
}
.statistic-holder {
  position: relative;
  padding: 40px 70px;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}
.statistic-holder.box2 {
  padding: 40px;
}
.statistic-holder .deco {
  position: absolute;
  z-index: 2;
  pointer-events: none;
}
.statistic-holder.box1 .frame1 {
  bottom: -14px;
  left: 16px;
}
.statistic-holder.box1 .frame2 {
  top: 8px;
  right: 16px;
}
.statistic-holder.box2 .frame1 {
  top: 0;
  left: 60px;
}
.statistic-holder.box2 .frame2 {
  bottom: 0;
  left: 35px;
}
.statistic-holder.box3 .frame1 {
  top: 0;
  left: 33px;
}
.statistic-holder.box3 .frame2 {
  bottom: 0;
  left: 36px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .statistic-holder.box1 .frame1 {
    bottom: 0;
  }
  .statistic-holder.box2 .frame1 {
    left: 46px;
  }
  .statistic-holder.box2 .frame2 {
    left: 23px;
  }
  .statistic-holder.box3 .frame1 {
    left: 18px;
  }
  .statistic-holder.box3 .frame2 {
    left: 20px;
  }
}
@media (max-width: 767px) {
  .viewership {
    padding: 30px 0;
  }
  .viewership figure {
    font-size: 40px;
  }
  .statistic-holder .deco {
    transform: scale(0.8);
  }
  .statistic-holder.box2 .frame1,
  .statistic-holder.box3 .frame1,
  .statistic-holder.box1 .frame2  {
    transform-origin: top center;
  }
  .statistic-holder.box2 .frame2,
  .statistic-holder.box3 .frame2,
  .statistic-holder.box1 .frame1s {
    transform-origin: bottom center;
  }
}
.sticky-box {
  position: sticky;
  top: 80px;
  z-index: 1;
}
@media (min-width: 992px) {
  .sticky-box {
    min-height: 260px;
  }
}
.chzn-container {
  display: none !important;
}
.bg-grey {
  background-color: #f0f0f0;
}
.download-center .bg-grey.card-body {
  padding: 25px 30px;
}
@media (max-width: 767px) {
  .download-center .bg-grey.card-body {
    padding: 20px 15px;
  }
}
.download-center .dropdown-menu.open {
  width: 100%;
}
.astro-card {
  border: 0;
  border-radius: 0;
  padding-bottom: 15px;
  background-color: #f0f0f0;
  font-family: "FS Albert Pro", sans-serif;
}
.astro-card .card-header {
  padding: 10px 20px;
  background: #ec008c;
  color: white;
  border: 0;
  font-size: 16px;
  cursor: default;
}
.astro-card .card-body {
  padding: 15px 20px 5px;
}
.astro-card .card-body h5 {
  margin-bottom: 10px;
  line-height: 1.1;
}
.astro-card .card-footer {
  background-color: transparent;
  padding: 0 20px;
  border: 0;
}
.astro-card .btn-link {
  font-weight: 600;
  color: #ec008c;
}
@media (max-width: 575px) {
  .astro-card {
    margin-bottom: 10px;
    height: auto !important;
  }
}
.page-banner {
  background: #312f45;
  padding: 90px 0;
  position: relative;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .page-banner {
    padding: 40px 0;
  }
}
.page-banner .deco-bg {
  position: absolute;
  z-index: 2;
  pointer-events: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}
.page-banner .deco {
  position: absolute;
  z-index: 2;
}
.page-banner .pattern-left {
  top: 0;
  left: 0;
}
.page-banner .pattern-right {
  bottom: 0;
  right: 0;
}
.page-banner .page-title {
  position: relative;
  z-index: 9;
}
.page-banner .page-title small {
  display: block;
}
@media (min-width: 768px) and (max-width: 1600px) {
  .page-banner .pattern-left {
    left: auto;
    right: 60%;
    max-width: 50%;
  }
  .page-banner .pattern-right {
    right: auto;
    left: 60%;
    max-width: 50%;
  }
}
@media (max-width: 767px) {
  .page-banner .deco {
    max-width: 60%;
  }
}
.owl-carousel {
  position: relative;
}
.owl-theme .owl-dots {
  -ms-flex-pack: left;
  justify-content: left;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  z-index: 9;
  text-align: left;
}
@media (min-width: 992px) {
  .owl-theme .owl-dots {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .owl-theme .owl-dots {
    max-width: 1140px;
  }
}
.owl-theme .owl-dots .owl-dot span {
  width: 15px;
  height: 15px;
  border-radius: 30px;
  background-color: white;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.4);
  margin: 3px;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.owl-theme .owl-dots .owl-dot:focus {
  outline: none;
}
.owl-theme .owl-dots .owl-dot:not(.active):hover {
  opacity: 0.8;
}
.owl-theme .owl-dots .owl-dot:not(.active):hover span {
  background-color: white;
}
.owl-theme .owl-dots .owl-dot.active span {
  background-color: #ec008c;
}
@media (max-width: 991px) {
  .owl-theme .owl-dots {
    margin-bottom: 0;
  }
  .owl-theme .owl-dots .owl-dot span {
    width: 8px;
    height: 8px;
  }
}
.owl-carousel .banner-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.owl-carousel .banner-image img {
  visibility: hidden;
  max-width: 100%;
}
.owl-carousel .highlight-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.owl-carousel .highlight-image img {
  visibility: hidden;
  max-width: 100%;
}
@media (min-width: 1200px) {
  #index-banner .banner-image {
    min-height: 720px;
  }
  #club-banner .banner-image {
    min-height: 530px;
  }
  #index-banner .banner-image .guide-xs,
  #club-banner .banner-image .guide-xs {
    display: none;
  }
  .owl-carousel .highlight-image {
    min-height: 360px;
  }
  .owl-carousel .highlight-image .guide-xs {
    display: none;
  }
}
@media (min-width: 1981px) {
  #index-banner .banner-image,
  #club-banner .banner-image {
    min-height: 37.5vw;
  }
}
.mobile-filter {
  margin-bottom: 20px;
}
.mobile-filter-container {
  position: fixed;
  bottom: -600px;
  left: 0;
  right: 0;
  background-color: #f0f0f0;
  z-index: 100;
  box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.2);
  padding: 15px;
  -webkit-transition: all .5s linear;
  -o-transition: all .5s linear;
  transition: all .5s linear;
}
.mobile-filter-container.show {
  bottom: 0;
}
.mobile-filter-container .bootstrap-select {
  display: block !important;
  margin-top: 3px;
  width: 100% !important;
}
.mobile-filter-container .dropdown-toggle {
  border: 0;
}
.mobile-filter-container #filter-close {
  display: block;
  margin: 10px 0 0;
}
.mobile-filter-container .form-label {
  margin-top: 10px;
  display: block;
  text-align: right;
}
.mobile-filter-container .border-bottom {
  padding-top: 5px;
  padding-bottom: 5px;
}
.bootstrap-select .dropdown-toggle .filter-option-inner {
  padding-right: 0;
}
.bootstrap-select .dropdown-toggle .filter-option-inner-inner {
  text-overflow: ellipsis;
}
.modal-backdrop.show {
  opacity: 1;
}
.lity, .modal-backdrop {
  background-color: rgba(0, 0, 0, 0.8);
  top: -80px;
  bottom: -80px;
}
.lity .lity-container {
  max-width: 93%;
  max-height: 90%;
}
.lity .lity-container .lity-close {
  top: 10px;
  right: 10px;
  background-color: #ec008c;
}
#tab-scroll {
  position: sticky;
  top: 76px;
  left: 0;
  right: 0;
  background-color: #f0f0f0;
  z-index: 9;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
@media (min-width: 992px) {
  #tab-scroll {
    display: none;
  }
}
#tab-scroll .owl-stage {
  background-color: #f0f0f0;
}
#tab-scroll .owl-nav {
  position: absolute;
  pointer-events: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 ;
}
#tab-scroll .owl-nav > button {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 15px !important;
  background-color: rgba(255, 255, 255, 0.5);
  pointer-events: auto;
}
#tab-scroll .owl-nav > button:focus {
  outline: none;
}
#tab-scroll .owl-nav > button i {
  color: #ec008c;
}
#tab-scroll .owl-nav .owl-prev {
  left: 0;
  background: -moz-linear-gradient(left, rgba(240, 240, 240, 0.9) 0%, rgba(240, 240, 240, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(240, 240, 240, 0.9) 0%, rgba(240, 240, 240, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(240, 240, 240, 0.9) 0%, rgba(240, 240, 240, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1);
  /* IE6-9 */
}
#tab-scroll .owl-nav .owl-next {
  right: 0;
  background: -moz-linear-gradient(left, rgba(240, 240, 240, 0) 0%, rgba(240, 240, 240, 0.9) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(240, 240, 240, 0) 0%, rgba(240, 240, 240, 0.9) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(240, 240, 240, 0) 0%, rgba(240, 240, 240, 0.9) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=1);
  /* IE6-9 */
}
#tab-scroll .owl-nav .disabled {
  opacity: 0 !important;
}
#tab-scroll.shrink {
  top: 49px;
}
#tab-scroll .owl-item a {
  padding: 10px 40px;
  font-size: 14px;
  border-bottom: 0;
  border-top: 0;
}
.navbar-light {
  font-family: "FS Albert Pro", sans-serif;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  background-color: white;
  padding: 0;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
.navbar-light .navbar-nav .nav-link {
  color: #04030d;
  font-weight: 600;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  padding: 15px;
}
@media (min-width: 992px) {
  .navbar-light .navbar-nav .nav-link {
    position: relative;
    display: inline-block;
  }
  .navbar-light .navbar-nav .nav-link:hover,
  .navbar-light .navbar-nav .nav-link:focus {
    color: #ec008c;
  }
  .navbar-light .navbar-nav .nav-link.last {
    background-color: #ec008c;
    color: white;
  }
  header.shrink.navbar-light .navbar-nav .nav-link {
    padding-top: 11px;
    padding-bottom: 11px;
  }
}
header .brand img {
  width: 70px;
  margin: 5px 0;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  max-width: 100%;
}
@media (min-width: 992px) {
  .navbar {
    padding: 0 2rem;
  }
  .navbar-light .navbar-nav .nav-link {
    color: #04030d;
    /* padding: 41px 30px; */
    padding: 18px 10px;
    border-radius: 50px;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
}
@media (min-width: 1400px) {
  .navbar-light .navbar-nav .nav-link {
    padding: 14px 20px;
  }
}
header.shrink .brand img {
  width: 38px;
}
.navbar-toggler {
  border: 0;
  color: white;
}
.navbar-toggler:focus {
  outline: 0;
}
.navbar-toggler #nav-icon {
  margin-right: 10px;
  width: 25px;
  height: 19px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.navbar-toggler #nav-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #ec008c;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.navbar-toggler #nav-icon span:nth-child(1) {
  top: 0px;
}
.navbar-toggler #nav-icon span:nth-child(2),
.navbar-toggler #nav-icon span:nth-child(3) {
  top: 8px;
}
.navbar-toggler #nav-icon span:nth-child(4) {
  top: 16px;
}
.navbar-toggler[aria-expanded=true] #nav-icon span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.navbar-toggler[aria-expanded=true] #nav-icon span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.navbar-toggler[aria-expanded=true] #nav-icon span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.navbar-toggler[aria-expanded=true] #nav-icon span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
@media (max-width: 1199px) {
  .navbar-collapse {
    border-top: 1px solid transparent;
  }
  header .brand {
    margin-left: 15px;
  }
  header .brand img {
    width: 50px;
  }
  header.shrink .brand img {
    width: 30px;
  }
}
@media (max-width: 991px)  {
  .navbar-collapse .nav-link {
    color: white !important;
  }
  .navbar-collapse.show,
  .navbar-collapse.collapsing {
    background-color: #ec008c;
  }
}
.btn {
  font-family: "FS Albert Pro", sans-serif;
  border-radius: 0;
  font-weight: 600;
  padding: 14px 22px 13px;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
@media (max-width: 575px) {
  .btn {
    padding: 10px 15px 9px;
  }
  .btn-icon i {
    top: 14px !important;
  }
}
.btn:hover {
  text-decoration: none;
}
.btn:focus,
.btn:active {
  outline: none;
  box-shadow: none;
}
.btn-shadow {
  box-shadow: 2px 3px 7px 0 rgba(0, 0, 0, 0.4);
}
.btn-shadow:hover,
.btn-shadow:focus,
.btn-shadow:active {
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.9);
  -webkit-transform: translate(1px, 2px);
  -ms-transform: translate(1px, 2px);
  transform: translate(1px, 2px);
}
.btn-white {
  background: white;
  color: #ec008c;
  border: 2px solid transparent;
  box-shadow: 2px 3px 7px 0 rgba(0, 0, 0, 0.4);
}
.btn-white:hover,
.btn-white:focus,
.btn-white:active {
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.9);
  -webkit-transform: translate(1px, 2px);
  -ms-transform: translate(1px, 2px);
  transform: translate(1px, 2px);
  background: rgba(255, 255, 255, 0.9);
  color: #ec008c;
}
.btn-white.disabled,
.btn-white:disabled {
  pointer-events: none;
}
.btn-white.btn-outlined {
  background: transparent;
  border-color: #ffffff;
}
.btn-white.btn-outlined:hover,
.btn-white.btn-outlined:focus,
.btn-white.btn-outlined:active {
  background: #ffffff;
  color: #ffffff;
}
.btn-pink {
  background: #ec008c;
  color: white;
  border: 2px solid transparent;
  box-shadow: 2px 3px 7px 0 rgba(0, 0, 0, 0.2);
}
.btn-pink:hover,
.btn-pink:active {
  background: #ec008c !important;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.9);
  -webkit-transform: translate(1px, 2px);
  -ms-transform: translate(1px, 2px);
  transform: translate(1px, 2px);
  color: white;
}
.btn-pink:focus {
  background: #ec008c;
  color: white;
  border: 2px solid transparent;
  box-shadow: 2px 3px 7px 0 rgba(0, 0, 0, 0.2);
}
.btn-pink.btn-outlined {
  background: transparent;
  border-color: #ec008c;
}
.btn-pink.btn-outlined:hover,
.btn-pink.btn-outlined:focus,
.btn-pink.btn-outlined:active {
  background: #ec008c;
  color: #ffffff;
}
.btn-grey {
  background: #f0f0f0;
  color: #04030d;
  border: 2px solid transparent;
}
.btn-grey:hover,
.btn-grey:focus,
.btn-grey:active {
  color: #04030d;
}
.btn-grey:focus {
  background-color: #dcdcdc;
}
.btn-grey.btn-outlined {
  background: transparent;
  border-color: #f0f0f0;
}
.btn-grey.btn-outlined:hover,
.btn-grey.btn-outlined:focus,
.btn-grey.btn-outlined:active {
  background: #f0f0f0;
  color: #ffffff;
}
.btn-text  {
  background-color: transparent;
  padding: 0;
}
@-webkit-keyframes autofill {
  to {
    color: black;
    background: white;
  }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}
.form-control {
  border-radius: 0;
  border: 0;
  padding-left: 15px;
  padding-right: 15px;
  color: #04030d;
  border-color: transparent;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  outline: none;
}
.form-control:focus {
  color: #04030d;
  box-shadow: none;
  /* border-left: 3px solid #ec008c; */
}
.form-group {
  margin-bottom: 25px;
}
.form-label {
  font-weight: 600;
}
.input-group input,
.input-group .btn {
  font-size: 14px;
}
.input-group .btn {
  background-color: white;
  color: #ec008c;
  padding: 15px 15px 14px;
}
.input-group-text {
  background: white;
  border: transparent;
}
.dropdown-toggle,
.dropup .dropdown-toggle {
  padding: 5px 40px 5px 10px !important;
  background: transparent;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}
.dropdown-toggle::after,
.dropup .dropdown-toggle::after {
  position: absolute;
  /* left: 0; */
  top: 2px;
  right: 20px;
  content: "\f078";
  border: 0 !important;
  font-family: "Font Awesome 5 Free";
  font-size: 19px;
  color: #ec008c;
  font-weight: 900;
  margin-left: 10px;
}
.bootstrap-select {
  margin-right: 20px;
}
.bootstrap-select:last-child {
  margin-right: 0;
}
.bootstrap-select li a {
  padding: 12px 20px;
  color: #04030d;
}
.bootstrap-select li:hover a {
  background-color: #f0f0f0;
}
.bootstrap-select li.selected a,
.bootstrap-select li a:active {
  background-color: #ec008c;
  color: white;
}
.bootstrap-select li.selected:hover a {
  background-color: #d3007d;
}
.bootstrap-select.btn-group .dropdown-menu {
  min-width: 140px;
  padding: 0;
  border-radius: 0;
}
.bootstrap-select > .dropdown-toggle.bs-placeholder,
.bootstrap-select > .dropdown-toggle.bs-placeholder:hover,
.bootstrap-select > .dropdown-toggle.bs-placeholder:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder:active {
  color: #04030d;
}
.bootstrap-select .dropdown-toggle:focus {
  outline: none !important;
}
.white-dropdown .dropdown-toggle {
  box-shadow: none;
  background-color: white;
  border: 1px solid #e1e1e1;
  padding: 21px 50px 21px 20px !important;
}
.white-dropdown .dropdown-toggle::after {
  left: auto;
  right: 40px;
  top: 20px;
}
.bootstrap-select.show>.btn-light.dropdown-toggle,
.bootstrap-select .btn-light:not(:disabled):not(.disabled):active,
.bootstrap-select .btn-light:hover {
  background-color: transparent;
  border: 0;
}
.white-dropdown.show>.btn-light.dropdown-toggle,
.white-dropdown .btn-light:not(:disabled):not(.disabled):active,
.white-dropdown.bootstrap-select .btn-light:hover {
  background-color: white;
  border: 1px solid #e1e1e1;
}
.highlight-banner-class{
  padding: 80px 0 70px;
  text-align: center;
}
.bootstrap-select .dropdown-menu {
  padding: 0;
  border-radius: 0;
}
@media (max-width: 991px) {
  .highlight-banner-class {
    padding-bottom: 0;
  }
}
.highlight-banner-wrapper {
  z-index: 2;
  position: relative;
}
.highlight-banner-div {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  text-align: left;
  background-color: rgba(65, 74, 82, 0.8);
  bottom: 0;
  width: 45%;
  padding: 30px;
}
.highlight-banner-tag {
  font-weight: 600;
  background: #ec008c;
  display: inline-block;
  padding: 3px 10px;
  text-align: left;
  font-size: 16px;
  font-family: "FS Albert Pro", sans-serif;
  margin-bottom: 30px;
}
#highlight-banner .owl-dots {
  -ms-flex-pack: left;
  justify-content: left;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  bottom: -60px;
  z-index: 9;
  text-align: center;
}
#highlight-banner .img-holder {
  background-size: 100% 100%;
  background-position: center;
}
#highlight-banner .owl-dots .owl-dot span{
  box-shadow: none;
  background-color: #312f45;
}

#highlight-banner .owl-dots .owl-dot.active span{
  background-color: #ec008c;
}
.highlight-banner-div p {
  margin-bottom: 0;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .highlight-banner-div h3 {
    font-size: 20px;
  }
  .highlight-banner-div {
    font-size: 14px;
  }
  .highlight-banner-tag {
    font-size: 14px;
    white-space: nowrap;
  }
}
@media (max-width: 767px) {
  .highlight-banner-div {
    position: static;
    width: 100%;
    background-color: #312f45;
    padding: 20px;
  }

  .highlight-banner-tag {
    margin-bottom: 20px;
  }
}
/* cant find proper way to remove it so i use css */
.blog-featured .page-header h1{
  display: none;
}
.our-team-wrapper {
  z-index: 2;
  position: relative;
  border: 1px solid #e1e1e1;
  width: 100%;
}
.our-team-div {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "FS Albert Pro", sans-serif;
  font-weight: 600;
  color: white;
  text-align: left;
  background-color: rgba(65, 74, 82, 0.8);
  height: 100%;
  width: 100%;
  padding: 30px;
}
.our-team-wrapper img {
  width: 100%;
  display: block;
}
.our-team-wrapper .overlayer {
  position: absolute;
  top: 0;
  left: 0;
  bottom:0;
  right: 0;
  font-family: "FS Albert Pro", sans-serif;
  font-weight: 600;
  color: white;
  text-align: left;
  background-color: rgba(49, 47, 69, 0.85);
  padding: 30px 30px 50px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.our-team-wrapper:hover .overlayer {
  opacity: 1;
  visibility: visible;
}
.our-team-listing {
  padding-bottom:30px;
}
.our-team-postion {
  color: rgba(255,255,255,0.5);
  font-size: 16px;
}
.our-team-contact-me {
  cursor: pointer;
  color: #ec008c;
  font-size: 16px;
  position: absolute;
  bottom: 25px;
  left: 30px;
}
@media (max-width: 991px) {
  .our-team-wrapper .overlayer {
    position: static;
    opacity: 1;
    visibility: visible;
    padding: 15px 15px 40px;
  }
  .our-team-contact-me {
    left: 15px;
    bottom: 10px;
  }
}
@media (max-width: 575px) {
  .our-team-wrapper h5{
    font-size: 16px;
  }
  .our-team-postion {
    font-size: 14px;
  }
  .our-team-wrapper {
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
  }
}
.download-center-img {
  width: 30%;
  float: left;
}
.download-center-div {
  background-color: #f0f0f0;
  height: 100%;
  padding: 30px;
  font-weight: 600;
  font-family: "FS Albert Pro", sans-serif;
  position: relative;
}
.download-holder {
  margin-top: 20px;
}

.icon-holder {
  padding: 30px;
  min-height: 180px;
  position: relative;
  height: 100%;
}
.icon-holder img {
  width: 55px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media (min-width: 768px) {
  .download-center-div {
    padding: 30px 30px 50px;
  }
  .download-holder {
    position: absolute;
    bottom: 25px;
    left: 30px;
  }
}
@media (max-width: 575px) {
  .download-center-div {
    padding: 15px;
  }
  .icon-holder {
    min-height: 120px;
  }
  .download-center-div h5 {
    font-size: 16px;
  }
}
.download-center-date {
  color:rgb(124, 122, 122);
}
.download-center-button {
  color: #ec008c;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.download-center-listing {
  padding-bottom: 25px;
}

/* special for viewership */
.accordion #viewershipMalay .card-header[aria-expanded="true"] {
  background-color: #7BB636 !important;
  color: white;
}
.accordion #viewershipChinese .card-header[aria-expanded="true"] {
  background-color: #E8168B !important;
  color: white;
}
.accordion #viewershipIndian .card-header[aria-expanded="true"] {
  background-color: #944E96 !important;
  color: white;
}
.accordion #viewershipEnglish .card-header[aria-expanded="true"] {
  background-color: #1380C3 !important;
  color: white;
}
.accordion #viewershipGenNext .card-header[aria-expanded="true"] {
  background-color: #EFE029 !important;
  color: white;
}
.accordion #viewershipSports .card-header[aria-expanded="true"] {
  background-color: #22C9CD !important;
  color: white;
}
.accordion #viewershipNews .card-header[aria-expanded="true"] {
  background-color: #f9ae00 !important;
  color: white;
}
.accordion #viewershipKorean .card-header[aria-expanded="true"] {
  background-color: #eb4e00 !important;
  color: white;
}


/*article lightSlider CSS*/
.demo {
    width:100%;
	z-index: 2;
	position: relative;
}
.demo ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
}
.demo li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor:pointer;
}
.demo img {
    display: block;
    height: auto;
    width: 100%;
}
.lSSlideOuter .lSPager.lSGallery li {
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 0.6;
}
.lSSlideOuter .lSPager.lSGallery li.active, .lSSlideOuter .lSPager.lSGallery li:hover {
  border-radius: 0 !important;
  opacity: 1;
}
.lSAction > a {
  z-index: 999;
}
.lightSlider .lslide,
.lightSlider .clone {
  opacity: 0;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}
.lightSlider .lslide.active {
  opacity: 1;
}
.lSGallery {
  margin-top: 15px !important;
}
.lity-content:after {
  box-shadow: none !important;
}


/* Viewership highlights chart */
.custom-legend-wrap {
  font-size: 14px;
  font-family: "FS Albert Pro", sans-serif;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.custom-legend-wrap > div {
  margin: 0 8px;
}

.custom-legend {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin: 15px auto 5px;
}

.round-legend {
  text-align: center;
  font-size: 20px;
  font-family: "FS Albert Pro", sans-serif;
  color: white;
  white-space: nowrap;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  padding: 23px 5px;
  line-height: 1.2;
  margin: 0 10px;
}

.rounded-lg-progress {
  height: 95px;
  border-radius: 95px;
}

@media (max-width: 575px) {
  .rounded-lg-progress {
    height: 80px;
  }

  .round-legend {
    width: 80px;
    height: 80px;
    font-size: 16px;
  }
}

@media (max-width: 420px) {
  .rounded-lg-progress {
    height: 60px;
  }

  .round-legend {
    width: 60px;
    height: 60px;
    padding: 13px 5px;
  }
}

.form-register .form-control {
  text-align: center;
}

.form-text {
  margin-top: 10px;
  text-align: left;
  font-size: 13px;
}
.form-register .btn-white.disabled,
.form-register .btn-white:disabled {
  color: black;
  background: #1f1e2c;
  opacity: 1;
}

.enquiry .section-desc{
  font-size: 16px;
}

.enquiry .form-group {
  margin-bottom: 10px;
}

.enquiry .form-control {
  border: 1px solid #e1e1e1;
  padding: 20px;
}

/* Mobile style for article Back to Listing button */
#back-article.stick {
  position: sticky;
  top: 49px;
  width: 100%;
  padding: 15px;
  font-size: 14px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  z-index: 9;
  line-height: 1;
  background-color: #f0f0f0;
  color: black;
  margin-bottom: 40px !important;
}

/* Adjustment for Mobile */
@media (max-width: 575px) {
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 20px;
  }
  footer {
    margin-top: 40px;
  }

  .mt-10 {
    margin-top: 50px;
  }

  .highlight-banner-class {
    padding-top: 30px;
  }
}

/* Terms */
.terms-content {
  font-size: 14px;
  line-height: 1.6;
}

/*Sweet Alert */
.swal-overlay {
  background-color: rgba(0,0,0,.6);
}
.swal-modal {
  border: 1px solid #444;
}
.swal-title {
  font-family: "FS Albert Pro", sans-serif;
  color: #EB018C;
  font-size: 24px;
}
.swal-icon--success {
  color: #EB018C;
}
.swal-footer {
  text-align: center;
}
.swal-button:focus {
  backrgound: #ec008c;
}
.swal-icon--success__line {
  background-color: #EB018C;
}
.swal-icon--success__ring {
  border: 4px solid #EB018C;
}
.swal-icon--error {
  border-color: #EB018C;
}
.swal-icon--error__line {
  background-color: #EB018C;
}
#loading-img {
  width: 18px;
}
/*Badge for Winning Partnerships*/
.ribbon-holder {
  position: absolute;
  top: -1px;
  left: 30px;
}
.ribbon {
  position: relative;
  width: 30px;
  padding: 10px 5px 5px;
  background-color: #ffd248;
  text-align: center;
  z-index: 9;
  border-top: 3px solid #c68e48;
}

.ribbon:after {
  content: "";
  position: absolute;
  display: block;
  bottom: -18px;
  border: 15px solid #ffd248;
  z-index: 8;
  right: 0;
  border-top-width: 4px;
  border-bottom-color: transparent;
}

.ribbon i:before {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  display: initial; /* reset Font Awesome's display:inline-block */
}

.ribbon.gold i::before {
  background: -webkit-gradient(linear, left top, left bottom, from(#b76a09), to(#cb9400));
  color: #b76a09;
}

.ribbon.silver {
  border-top-color:#b3b3b3;
  background-color: #dbdbdb;
}

.ribbon.silver:after {
  border-color: #dbdbdb;
  border-bottom-color: transparent;
}

.ribbon.silver i::before {
  background: -webkit-gradient(linear, left top, left bottom, from(#707070), to(#8c8c8c));
  color: #717171;
}
.ribbon.bronze {
  border-top-color:#995042;
  background-color: #c28874;
}

.ribbon.bronze:after {
  border-color: #c28874;
  border-bottom-color: transparent;
}

.ribbon.bronze i::before {
  background: -webkit-gradient(linear, left top, left bottom, from(#823109), to(#b4450e));
  color: #964f40;
}


/* Form with label */
.field-placey {
  display: flex;
  flex-flow: column-reverse;
  position: relative;
  overflow-x: hidden;
}
.field-placey label, .field-placey input, .field-placey textarea {
  transition: all 0.2s;
  touch-action: manipulation;
}
.field-placey label {
  text-align: left;
  font-size: 1rem;
  position: absolute;
  top: 13px;
  left: 20px;
  font-size: 11px;
  opacity: 0.7;
  pointer-events: none;
}
.field-placey input:placeholder-shown + label,
.field-placey textarea:placeholder-shown + label {
  cursor: text;
  max-width: 66.66%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  transform:translate(0, 16px) scale(1.5);
}
.field-placey input {
    padding-top: 30px !important;
    padding-bottom: 10px !important;
}
_:-ms-lang(x),
.field-placey input {
  padding-bottom: 15px !important;
}
.field-placey textarea {
  padding-top: 30px !important;
}
.field-placey ::-webkit-input-placeholder {
  opacity: 0 !important;
  transition: inherit;
}
.field-placey ::placeholder{
  transition: inherit;
  opacity: 0 !important;
}
.field-placey :-moz-placeholder{
  transition: inherit;
  opacity: 0 !important;
}
.field-placey ::-moz-placeholder{
  transition: inherit;
  opacity: 0 !important;
}
.field-placey input:focus::-webkit-input-placeholder,
.field-placey textarea:focus::-webkit-input-placeholder{
  opacity: 1 !important;
}
.field-placey input:focus::placeholder,
.field-placey textarea:focus::placeholder{
  opacity: 1 !important;
}
.field-placey input:focus:-moz-placeholder,
.field-placey textarea:focus:-moz-placeholder{
  opacity: 1 !important;
}
.field-placey input:focus::-moz-placeholder,
.field-placey textarea:focus::-moz-placeholder{
  opacity: 1 !important;
}
_:-ms-lang(x),
.field-placey ::-webkit-input-placeholder {
  opacity: 1 !important; /* Target Edge and IE */
}
.field-placey input:not(:placeholder-shown) + label,
.field-placey input:focus + label,
.field-placey textarea:not(:placeholder-shown) + label,
.field-placey textarea:focus + label {
  transform: translate(0, 0) scale(1);
  cursor: pointer;
}
#modal-form .field-placey label {
  text-align: center;
  left: 0;
  right: 0;
}
#modal-form .field-placey input:placeholder-shown + label {
  transform-origin: center bottom;
  max-width: 100%;
}

#segment-channel th {
  background-color: #f1f1f1;
}

.bootstrap-select>.dropdown-toggle {
  z-index: 3 !important;
}


/* CNY QUAKE */
.cny-body {
  background: linear-gradient(145deg, rgba(255,171,42,1) 3%, rgba(247,33,0,1) 25%, rgba(150,16,0,1) 36%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.editor-content a {
  color: #ec008c !important;
}

/*** QUAKE CLUB ***/
/*reusable style*/
.club-shadow {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}
.rounded-card {
  border-radius: 15px;
  border: 0;
}
.rounded-card .card-body {
  padding: 30px 20px;
}
.link-underline {
  white-space: normal;
  text-align: left;
  display: inline;
}
.link-underline,
a.link-underline:hover {
  border-bottom: 1px solid black;
}
.link-underline.text-pink,
a.link-underline.text-pink:hover {
  border-bottom: 1px solid #EB018C;
  color: #EB018C;
}
.link-underline .text-link-arrow {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.link-underline:hover .text-link-arrow {
  transform: translateX(3px);
}
.f-30 {
  font-size: 30px;
}
.f-24 {
  font-size: 24px;
}
.f-20 {
  font-size: 20px;
}
.f-14 {
  font-size: 14px;
}
.line-height {
  line-height: 1.8;
}
.mt-40 {
  margin-top: 40px;
}

/*Club form style*/
.field-placey.text-center label {
  text-align: center;
  left: 0;
  right: 0;
}
.field-placey.text-center input:placeholder-shown + label {
  transform-origin: center bottom;
  max-width: 100%;
}
.field-placey.text-center input {
  text-align: center;
}
.club-form .form-control {
  border: 1px solid #e1e1e1;
  padding: 20px;
}
.club-form .field-placey label {
  opacity: 0.5;
}
.form-icon {
  position: absolute;
  left: 20px;
  top: 23px;
  color: #EB018C;
  font-size: 20px;
}
.form-icon.right {
  left: auto;
  right: 20px;
}
.form-control[readonly] {
  background-color: transparent;
}
.btn-wide {
  padding-left: 50px;
  padding-right: 50px;
}

#login + footer,
#cart-complete + footer,
#registration-complete + footer {
  margin-top: 0;
}

#login,
#registration-complete  {
/* #login .content,
#registration-complete .content { */
  background: #EC008C url('../../../images/2020/club/pink-bg.jpg') no-repeat center top / cover;
  padding-top: 100px;
  padding-bottom: 100px;
  overflow: hidden;
}

/* #registration-complete .content { */
#registration-complete  {
  background: #EC008C url('../../../images/2020/club/pink-bg3.jpg') no-repeat left top / cover;
}

#login .form-group {
  margin-bottom: 10px;
}

#login .form-control {
  padding-left: 45px;
  padding-right: 45px;
}

#login .float-deco,
 #registration-complete .float-deco {
  position: absolute;
}

#login .login-girl-1,
#registration-complete .login-girl-1 {
  top: -50px;
  left: 0;
}
#login .login-girl-2 {
  top: 80px;
  right: -10px;
}
#registration-complete .login-girl-2 {
  top: -50px;
  right: -20px;
}
#login .login-men {
  left: 0;
  top: 50%;
}
#login .balloon,
#registration-complete .balloon {
  right: 80px;
  top: 65%;
}

#login .form-control[readonly] {
  background-color: white;
}

@media (max-width: 1199px) {
  #login .float-deco,
  #registration-complete .float-deco  {
    display: none;
  }

  /* #login .content { */
  #login {
    background-image: url('../../../images/club/pink-bg2.jpg');
  }

  /* #registration-complete .content { */
  #registration-complete  {
    background: #EC008C;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.club-logo {
  text-indent: -9999px;
  background: url('../../../images/2020/club/quake-club.png');
  background: url('../../../images/2020/club/quake-club.svg');
  width: 331px;
  height: 74px;
  max-width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#registration-complete .club-logo {
  background-image: url('../../../images/2020/club/quake-club-white.png');
  width: 238px;
  height: 54px;
}

.step-progress {
  margin: 30px auto 40px;
}

.step-progress > div {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #E2E2E2;
  color: #BABABC;
  font-size: 16px;
  text-align: center;
  padding: 16px 10px;
  font-family: "FS Albert Pro", sans-serif;
  font-weight: 600;
  display: inline-block;
  margin: 0 10px;
  text-transform: uppercase;
}

.step-progress > div span {
  display: block;
}

.step-progress .active {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  background-color: #EB018C;
  color: white;
}

.swal-text {
  text-align: center;
  color: black;
}
.swal-icon--warning {
  border-color: #EB018C;
}
.swal-icon--warning__body, .swal-icon--warning__dot{
  background-color: #EB018C;
}

.pink-page-title {
  background-color: #EB018C;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  margin-bottom: 30px;
  padding: 30px 0;
}
.pink-page-title h2 {
  color: white;
  font-size: 30px;
}

@media (max-width: 767px) {
  .pink-page-title h2 {
    font-size: 24px;
  }
}

.profile-pop {
  color: white;
  font-family: "FS Albert Pro", sans-serif;
  font-size: 20px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  font-weight: 600;
  margin-bottom: 50px;
}

.welcome-user {
  padding: 7px 0 7px 100px;
  position: relative;
  min-height: 80px;
}

.welcome-user .profile-pic {
  width: 80px;
  height:80px;
  background-color: white;
  border-radius: 50%;
  color: #EB018C;
  text-align: center;
  line-height: 80px;
  font-size: 37px;
  position: absolute;
  left: 0;
  top: 0;
}

.welcome-user .profile-name {
  font-size: 30px;
  font-weight: 400;
}

.welcome-user .text-area {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.welcome-user small {
  display: block;
  font-size: 16px;
  font-weight: 400;
  margin-top: 5px;
}

.percentage-bubble {
  left: 0;
  top: 0;
  background-color: white;
  color: #00AEEF;
  font-size: 25px;
  font-weight: 600;
  width: 80px;
  height: 70px;
  border-radius: 8px 8px 0 8px;
  position: absolute;
}

.percentage-bubble:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 15px 0;
  border-color: transparent #ffffff transparent transparent;
  bottom: -12px;
  right: 0;
}

.percentage-bubble span {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.profile-points {
  /* padding-left: 190px; */
  min-height: 180px;
  position: relative;
}

.perks-status {
  background: url('../../../images/2020/club/frame-01.png') no-repeat center / contain;
  background: url('../../../images/2020/club/frame-01.svg') no-repeat center / contain;
  width: 170px;
  height: 180px;
  max-width: 100%;
  text-align: center;
  position: relative;
  /* position: absolute;
  left: 0;
  top: 0; */
  font-family: "FS Albert Pro", sans-serif;
  font-size: 20px;
}
.perks-status.daily {
  background: url('../../../images/2020/club/frame-02.png') no-repeat center / contain;
  background: url('../../../images/2020/club/frame-02.svg') no-repeat center / contain;
}

.perks-status h3 {
  font-size: 30px;
  font-weight: 600;
}
/*
.profile-points .text-area {
  padding-top: 40px;
}

#dashboard .profile-points .text-area {
  padding-top: 60px;
} */

.perks-status > div {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.profile-points a {
  color: #EB018C;
  display: inline-block;
  margin-bottom: 15px;
}

.redemption-reminder .icon-holder {
  border-radius: 15px 0 0 15px;
}

.redemption-reminder .download-center-div {
  border-radius: 0 15px 15px 0;
  border: 1px solid #DFDFDF;
  background-color: #F8F8F8;
  font-weight: 400;
  padding: 20px 20px 50px;
}

@media (max-width: 991px) {
  .profile-pop {
    margin-bottom: 20px;
  }
  #user-profile .profile-points h4 {
    font-size: 20px;
  }
}

@media (max-width: 575px) {
  .redemption-reminder .download-center-div {
      padding: 20px;
  }

  #user-profile .profile-points .col-sm-4 {
    width: 110px;
    max-width: none;
    left: 15px;
    color: #EB018C;
    position: absolute;
    padding-left: 0;
  }

  #user-profile .profile-points .col-sm-8 {
    padding: 20px 30px 10px 125px;
  }

  #user-profile .profile-points {
    border-radius: 15px;
    border: 1px solid #DFDFDF;
    background-color: #F8F8F8;
  }

  #user-profile .perks-status {
    background-image: none;
  }

  .welcome-user {
    padding-left: 90px;
  }

  .percentage-bubble {
    width: 70px;
  }
}

.redemption-reminder .download-holder {
  left: 20px;
}

.redemption-reminder .download-center-button {
  font-weight: 400;
  border-bottom: 1px solid #EB018C;
}

.redemption-reminder .gift-icon {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0 10px;
  background: url('../../../images/2020/club/gift.png?v=1.2') no-repeat center / contain;
  background: url('../../../images/2020/club/gift.svg?v=1.2') no-repeat center / contain;
}

.redemption-reminder.redeemed .gift-icon {
  background-image: url('../../../images/2020/club/gift-done.png?v=1.2');
  background-image: url('../../../images/2020/club/gift-done.svg?v=1.2');
}

.title-action {
  margin-left: 20px;
  color: #EB018C;
  cursor: pointer;
  vertical-align: middle;
}
.profile-form * {
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.profile-form label:not(.custom-control-label) {
  font-family: "FS Albert Pro", sans-serif;
  font-weight: 600;
}
#user-profile .profile-form label:not(.custom-control-label) {
  opacity: 0.6;
}
.edit-form .form-control {
  border: 1px solid #e1e1e1;
  padding: 20px;
}
.edit-form textarea.form-control {
  height: 148px;
}
.edit-form label {
  padding: 20px 15px;
}
.edit-form .custom-control-label::before,
.edit-form .custom-control-label::after {
  top: 22px;
}
.readonly-form .white-dropdown .dropdown-toggle,
.readonly-form .white-dropdown .dropdown-toggle:hover,
.readonly-form .white-dropdown .dropdown-toggle:focus {
  background-color: transparent;
  border: none;
  padding: .375rem 0 .375rem 15px !important;
  opacity: 1;
}
.readonly-form .dropdown-toggle:after {
  content: none;
}
.readonly-form .form-group {
  margin-bottom: 10px;
}
.readonly-form .form-control {
  padding: 0;
}
.readonly-form label {
  padding: 0 15px;
}
.custom-control-input:checked~.custom-control-label::before,
.custom-radio .custom-control-input:checked~.custom-control-label::before,
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #EB018C;
}
textarea {
  resize: none;
}

.file_upload {
  cursor: pointer;
	opacity: 0.0;
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	/* IE 5-7 */
	filter: alpha(opacity=0);
	/* Netscape or and older firefox browsers */
	-moz-opacity: 0.0;
	/* older Safari browsers */
	-khtml-opacity: 0.0;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
  z-index: 9;
}

.hidden_input {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}

.readonly-form .hidden_input .hover {
  display: none;
}

.hidden_input .hover {
  position: absolute;
  background-color: rgba(0,0,0,0.8);
  opacity: 0;
  left: 0;
  height: 50px;
  bottom: 0;
  right: 0;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 8;
}

.hidden_input:hover .hover {
  opacity:1;
}
@media (max-width: 991px) {
  .hidden_input .hover {
    opacity:1;
  }
}
.bcard-placeholder {
  background-color: #F0F0F0;
  position: relative;
  padding-bottom: 60%;
  border: none;
  background-size: cover;
  background-position: center;
}
.bcard-placeholder label,
.hidden_input .hover label {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  color: #EB018C;
  font-weight: bold;
  font-size: 14px;
  opacity: 1 !important;
  width: 100%;
}
.add-facebook {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  background-color: #EB018C;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  font-weight: normal;
  position: relative;
}

.add-whatsapp {
  background-color: #25D366;
}

.add-facebook.incomplete {
  background-color: #BFBFBF;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.add-facebook.incomplete:hover {
  background-color: #EB018C;
}
.add-whatsapp.incomplete:hover {
  background-color: #25D366;
}

.club-main-menu {
  background-color: #00AEEF;
}
.club-main-menu .nav-link {
  color: white;
  font-size: 16px;
  font-family: "FS Albert Pro", sans-serif;
  font-weight: bold;
  padding: 25px 40px 20px;
  border-bottom: 5px solid transparent;
}
.club-main-menu .nav-item:not(.active) .nav-link:hover,
.club-main-menu .nav-item:not(.active) .nav-link:focus {
  color: white;
  border-bottom-color: white;
}
.club-main-menu .active .nav-link {
  background: #FFC219;
  color: white;
}

.rewards-highlights {
  margin-top: 100px;
}

.product-item {
  margin-bottom: 20px;
  padding: 10px 5px 5px;
  cursor: pointer;
  font-family: "FS Albert Pro", sans-serif;
}

.product-item .image-holder {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  padding-bottom: 100%;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  position: relative;
}

.product-promo {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 12px;
  font-family: "FS Albert Pro", sans-serif;
  font-weight: 600;
  color: white;
  background-color: #EB018C;
  padding: 7px 7px 6px;
  z-index: 9;
  border-radius: 2px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;

  animation: blink linear 2s;
  animation-iteration-count: infinite;
}


@keyframes blink{
  /* 0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.05);
  }
  20% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.05);
  }
  40% {
    transform: scale(1);
  } */

  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(3px);
  }
  20% {
    transform: translateX(-3px);
  }
  30% {
    transform: translateX(3px);
  }
  40% {
    transform: translateX(0);
  }
}

.promo-note {
  color: #EB018C;
  font-size: 12px;
  margin-bottom: 5px;
}

@media (min-width: 992px) {
  .product-item:hover .image-holder {
    transform: translate(0px,-6px);
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
  }
}

.product-item .product-points {
  font-size: 20px;
  color: #EB018C;
}

.product-item .product-name {
  font-size: 20px;
}

#product-slider.owl-theme .owl-dots,
.profile-overview-slider.owl-theme .owl-dots {
  bottom: -15px;
  text-align: center;
}

#product-slider.owl-theme .owl-dots .owl-dot:not(.active) span,
.product-slider .owl-theme .owl-dots .owl-dot:not(.active) span,
.profile-overview-slider.owl-theme .owl-dots .owl-dot:not(.active) span {
  background-color: #312f45;
}

.slider-nav .owl-nav {
  position: absolute;
  top: 30%;
  pointer-events: none;
  width: 100%;
}

.slider-nav .owl-nav i {
  color: #EB018C;
  margin-top: 3px;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.slider-nav .owl-prev,
.slider-nav .owl-next {
  position: absolute;
  pointer-events: auto;
  top: 0;
  border-radius: 50px !important;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  font-size: 16px;
  text-align: center;
  line-height: 50px;
  width: 50px;
  height: 50px;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.slider-nav .owl-prev:hover,
.slider-nav .owl-next:hover{
  background-color: #EB018C !important;
}

.slider-nav .owl-prev:hover i ,
.slider-nav .owl-next:hover i{
  color: white;
}

.slider-nav .owl-prev {
  left: -70px;
}
.slider-nav .owl-next {
  right: -70px;
}

#dashboard ~ footer .qperks-howto {
  background-color: #3F454A;
  padding-top: 60px;
  padding-bottom: 100px;
}
#q-perks {
  padding-bottom: 40px;
  margin-top: 30px;
}
#q-perks .owl-dots {
  text-align: center;
  bottom: 0;
}
.qperks-howto .bubble-holder {
  position: relative;
  margin-bottom: 5px;
}
.qperks-howto .bubble-holder span {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  text-align: center;
  width: 100%;
  font-size: 20px;
  color: white;
  font-family: "FS Albert Pro", sans-serif;
  font-weight: 600;
}

.qperks-howto .bubble-holder img {
  margin: 0 auto;
  max-width: 100%;
}
.qperks-howto h4 {
  font-size: 15px;
  text-align: center;
  color: white;
  width: 80%;
  margin: 0 auto;
}
/* @media (min-width:1200px) {
  .qperks-howto h4 {
    font-size: 15px;
  }
  #q-perks {
    padding-bottom: 0
  }

  #q-perks .owl-stage-outer {
    width: 100%;
    overflow: visible;
    height: auto !important;
    margin-left: auto;
    margin-right: auto;
  }
  #q-perks .owl-stage {
    transform: none !important;
    width: 100% !important;
  }
  #q-perks .owl-item {
    display: inline-grid;
    float: none;
    margin-right: 0 !important;
    margin-bottom: 20px;
  }
  .qperks-howto .bubble-holder img {
    width: 120px;
  }
} */
@media (min-width:768px) and (max-width: 1199px) {
  .qperks-howto .bubble-holder span {
    bottom: 45px;
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .qperks-howto .bubble-holder span {
    font-size: 20px;
  }
}
@media (max-width: 379px) {
  #dashboard .qperks-howto .bubble-holder span {
    bottom: 12vw;
    font-size: 8vw;
  }
  .qperks-howto .bubble-holder span {
    bottom: 45px;
  }
}

/*Quake header dropdown*/
.quake-nav {
  background: #EB018C;
  border-radius: 50px;
  margin-left: 20px;
  display: none;
}
.quake-nav * {
  webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.quake-nav .logo-side {
  display: inline-block;
  padding: 5px 15px 6px 20px;
  position: relative;
}
.quake-nav .logo-side img {
  height: 30px;
}
.quake-nav .logged-in {
  border-left: 1px solid #F05EB5;
  -webkit-box-shadow: -2px 0px 0px 0px rgba(208,0,123,1);
  -moz-box-shadow: -2px 0px 0px 0px rgba(208,0,123,1);
  box-shadow: -2px 0px 0px 0px rgba(208,0,123,1);
  display: inline-block;
  padding: 8px 15px 8px 15px;
}
.circle-icon {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #EB018C;
  display: inline-block;
  vertical-align: middle;
}
.circle-icon i {
  color: white;
  font-size: 14px;
}
.quake-nav .circle-icon {
  background-color: white;
}
.quake-nav .circle-icon i {
  color: #EB018C;
}
.circle-icon.cart{
  line-height: 32px;
  position: relative;
}
.circle-icon.cart i {
  margin-left: -3px;
}
.circle-icon.cart .cart-quantity {
  position: absolute;
  top: -3px;
  right: -3px;
  width: 15px;
  height: 12px;
  border-radius: 13px;
  background-color: #FFC219;
  color: black;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}
.user-dropdown .dropdown-toggle {
  font-family: "FS Albert Pro", sans-serif;
  font-weight: 600;
  color: white;
  padding: 0 40px 0 5px !important;
}
.user-dropdown .dropdown-toggle::after {
  color: white;
  top: 3px;
}
.user-dropdown .dropdown-toggle .circle-icon {
  margin-right: 10px;
}
.user-dropdown .username {
  display: inline-block;
  max-width: 120px;
  min-width: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  text-align: left;
}
.user-dropdown .dropdown-menu.show {
  min-width: 100%;
  border: 0;
  border-radius: 30px;
  top: 55px;
  left: auto;
  right: -15px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.25);
  max-height: none !important;
}
.user-dropdown .dropdown-menu .dropdown-item {
  padding: 15px 25px;
  font-size: 16px;
  font-weight: 600;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.user-dropdown.show .circle-icon{
  background-color: #FFC219;
}
@media (min-width: 1200px) {
  .quake-nav {
    display: block;
  }
  .user-dropdown .dropdown-menu .dropdown-item:hover {
    color: #EB018C;
    background-color: transparent;
  }
  .circle-icon:hover {
    background-color: #FFC219;
  }
}
.user-dropdown.show .username,
.user-dropdown.show .dropdown-toggle::after {
  color: #FFC219;
}
.user-dropdown.show .dropdown-toggle::after {
  content: "\f077";
}
.navbar.shrink .quake-nav .logged-in{
  padding-top: 5px;
  padding-bottom: 5px;
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .user-dropdown .username {
    width: 100px;
    font-size: 14px;
  }
  .navbar-light .navbar-nav .nav-link,
  header.shrink.navbar-light .navbar-nav .nav-link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 10px;
    padding-right: 10px;
  }
  header.shrink.navbar-light .navbar-nav .nav-link {
    padding-top: 11px;
    padding-bottom: 11px;
  }
  .quake-nav .logo-side img {
    height: 20px;
  }
  .user-dropdown .dropdown-menu .dropdown-item {
    padding: 15px 20px;
  }
}
#notice {
  font-family: "FS Albert Pro", sans-serif;
}
#notice .page-banner {
  background: #EC008C url('../../../images/2020/club/pre-banner.jpg') no-repeat center / cover;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
#notice .page-banner .page-title small {
  font-size: 14px;
  opacity: 1;
  margin-top: 20px;
}
#notice .page-banner .deco-bg {
  display: none;
}
#notice a:not(.btn):hover {
  color: #ec008c;
}
@media (max-width: 1199px) {
  #notice .page-banner {
    background: #EC008C;
    padding: 40px 0;
  }
  .user-dropdown .dropdown-menu .dropdown-item,
  .user-dropdown .dropdown-menu .dropdown-item:hover,
  .user-dropdown .dropdown-menu .dropdown-item:focus {
    padding: 15px;
    color: white;
    background-color: transparent;
  }
  .club-main-menu {
    display: none;
  }
}
.form-control.check-validate,
.check-validate.white-dropdown .dropdown-toggle {
  border-color: #EC008C;
}
.form-error {
  text-align: left;
  font-family: "FS Albert Pro", sans-serif;
  color: #EC008C;
}

/*datepicker overwrite*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  border: 0 !important;
  background-color: #F0F0F0 !important;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  background-color: #EC008C !important;
}
.ui-widget.ui-widget-content {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  border-color: #F0F0F0 !important;
  font-family: "FS Albert Pro", sans-serif;
  z-index: 9 !important;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    color: inherit !important;
}

.product-pink-bg {
  background-color: #EB018C;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  margin-bottom: -1px;
  padding: 30px 0;
}

.product-slider {
  position: relative;
}

@media (min-width: 768px) {
  .product-slider {
    position: absolute;
    top: -30px;
    left: 15px;
    width: 350px;
    max-width: 90%;
  }
}

.product-slider .owl-stage-outer {
  border-radius: 15px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  margin-bottom: 0;
  background-color: white;
}
.product-slider .item {
  background-color: white;
  padding-bottom: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.product-slider .owl-dots {
  text-align: center;
  position: static;
}

#product-inner .product-name {
  color: white;
  font-size: 30px;
}

#product-inner .product-info {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 16px;
}

.product-description .editor-content ul,
.product-description .editor-content ol {
  padding-left: 15px;
  margin-bottom: 30px;
}

.product-description .editor-content ul ul {
  margin-bottom: 0;
}


@media (max-width: 767px) {
  #product-inner .product-info {
    min-height: 0 !important;
  }
  #product-inner .product-name {
    margin-top: 20px;
    font-size: 24px;
  }
  .product-slider .owl-theme .owl-dots .owl-dot.active span {
    background: white;
  }
}

#product-inner .product-info .small {
  font-size: 14px;
}

.quantity-input { margin-right: 20px; }

.quantity-input div[class^="toggle"] {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 1px solid #E1E1E1;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  color: #EB018C;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  font-size: 14px;
  vertical-align: top;
  -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

.quantity-input div[class^="toggle"]:hover {
  background-color: #EB018C;
  color: white;
}

.quantity-input .selected-quantity{
  display: inline-block;
  width: 80px;
}

.quantity-input .selected-quantity input {
  text-align: center;
  font-size: 20px;
}
.quantity-left {
  font-size: 14px;
  font-family: "FS Albert Pro", sans-serif;
  color: #999;
  margin-top: 15px;
}
.btn-icon {
  position: relative;
}
.btn-icon i {
  position: absolute;
  left: 20px;
  top: 17px;
}

.referral-overview {
  font-family: "FS Albert Pro", sans-serif;
  font-size: 20px;
  margin-bottom: 40px;
}

.referral-overview h3 {
  font-size: 30px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 0;
}

.referral-overview [class^="col"]:not(:last-child) {
  border-bottom: 1px solid white;
}

@media (min-width: 768px) {
  .referral-overview {
    text-align: center;
  }
  .referral-overview [class^="col"]:not(:last-child) {
    border-bottom: 0;
    border-right: 1px solid white;
  }
}

@media (max-width: 767px) {
  .referral-overview {
    font-size: 16px;
  }
  .referral-overview h3 {
    display: inline-block;
    width: 50%;
    text-align: right;
    font-size: 22px;
    vertical-align: top;
    margin: 0;
  }
  .referral-overview span {
    display: inline-block;
    width: 45%;
  }
}

#referral {
  font-family: "FS Albert Pro", sans-serif;
  text-align: center;
  position: relative;
  margin-top: 70px;
  margin-bottom: 50px;
}

#referral .card-body {
  padding-top: 0;
  padding-bottom: 0;
}

#referral .referral-content {
  padding-top: 80px;
  padding-bottom: 80px;
}

#referral .nav-pills {
  text-align: center;
  position: absolute;
  top: -25px;
  left: 0;
  right: 0;
  z-index: 9;
}

#referral .nav-item {
  width: 180px;
  max-width: 20%;
  margin-right: 10px;
}

#referral .nav-link {
  border-radius: 0;
  background-color: #3F454A;
  color: white;
  font-size: 16px;
  font-weight: 600;

  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

@media (min-width: 992px) {
  #referral .nav-link:hover {
    transform: translateY(-5px);
  }
}

#referral .nav-link.active {
  background-color: #EB018C;
  color: white;
}

#referral input,
#referral .clipboard {
  padding: 15px 20px;
  text-align: center;
}

#referral .clipboard {
  background-color: white;
  color: #EC008C;
}

#referral .referral-cta {
  bottom: -25px;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}

#referral .referral-cta .btn {
  min-width: 250px;
}

.mobile-quake {
  background: #EB018C;
  border-radius: 50px;
  padding: 8px 15px;
  width: 120px;
  margin-left: auto;
  margin-right: 15px;
  position: relative;
}
.mobile-quake img {
  max-width: 100%;
}

@media (max-width: 1199px) {

  .user-dropdown .dropdown-menu.show {
    position: fixed;
    left: 0;
    right: 0;
    min-width: 0;
    overflow: auto;
    border-radius: 0;
    top: 73px;
    box-shadow: none;
    background-color: #00AEEF;
    padding: 0;

    animation: menu-expand ease 0.6s;
    animation-iteration-count: 1;
  }
  .user-dropdown .dropdown-menu.show::before {
    position: fixed;
    content: "";
    width: 20px;
    height: 10px;
    border-bottom: solid 10px #00AEEF;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
    right: 82px;
    top: 66px;
  }

  .shrink .user-dropdown .dropdown-menu.show::before {
    top: 42px;
  }

  .shrink .user-dropdown .dropdown-menu.show {
    top: 47px;
  }

  .mobile-quake .user-dropdown.show .circle-icon {
    position: relative;
  }

  .circle-icon {
    width: 35px;
    height: 35px;
    line-height: 35px;
  }

  .circle-icon i {
    font-size: 16px;
  }

  .circle-icon.cart {
    line-height: 38px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .user-dropdown .dropdown-menu.show::before {
    right: 115px;
  }
  .user-dropdown .dropdown-menu.show {
    padding: 0 2rem;
  }
}

@media (max-height: 640px) {
  .user-dropdown .dropdown-menu.show {
    max-height: 100vh !important;
    padding-bottom: 80px !important;
  }
}

.mobile-quake .join-us,
.logo-side .join-us {
  background-color: #FFC11C;
  color: black;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  border-radius: 10px;
  padding: 2px 6px;

  position: absolute;
  right: 0;

  animation: floating linear 1s;
  animation-iteration-count: infinite;
}

.shrink .mobile-quake .join-us,
.shrink .logo-side .join-us {
  display: none;
}

.mobile-quake .join-us::after,
.logo-side .join-us::after{
  content: "";
  position: absolute;
  width: 5px;
  height: 10px;
  border-left: solid 5px #FFC11C;
  border-bottom: solid 5px transparent;
  border-top: solid 5px transparent;
  bottom: -5px;
  left: 10px;
}

@keyframes floating{
  0% {
      top: -14px;
      opacity: 1;
  }
  30% {
      top: -10px;
      opacity: 0.9;
  }
  60% {
      top: -14px;
      opacity: 1;
  }
  100% {
    top: -14px;
    opacity: 1;
  }
}

@keyframes menu-expand {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 100vh;
  }
}

#faq-accordion {
  font-family: "FS Albert Pro", sans-serif;
  line-height: 1.8;
}

#faq-accordion .qperks-howto .bubble-holder {
  width: 100%;
  max-width: 130px;
  margin-bottom: 10px;
}

#faq-accordion .qperks-howto .bubble-holder img{
  width: 100%;
}

#faq-accordion .qperks-howto h4 {
  color: black;
  text-align: left;
  font-size: 20px;
  margin: 0 0 5px;
}

#faq-accordion .qperks-howto p:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  #faq-accordion .qperks-howto .bubble-holder span {
    font-size: 26px;
  }

  #faq-accordion.accordion .card-header h5 {
    font-size: 20px;
  }
}

.remember-me .custom-control-label {
  font-family: "FS Albert Pro", sans-serif;
  padding: 2px 0;
}

.point-history {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

.point-history .list-group-item {
  padding: 30px;
  border-radius: 0 !important;
  background-color: #f0f0f0;
  border: 0;
  margin-bottom: 0;
}

.point-history .list-group-item:not(:last-child) {
  border-bottom: 1px solid #D6D6D6;
}

.point-history .date {
  font-size: 14px;
  opacity: 0.5;
}

.email-icon {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: #EB018C;
  color: white;
  line-height: 100px;
  font-size: 60px;
  margin: 0 auto 20px;
  text-align: center;
}

.cart-summary {
  font-family: "FS Albert Pro", sans-serif;
}

.cart-summary .rounded-card {
  margin-bottom: 20px;
}

.cart-summary dl {
  margin-bottom: 15px;
}

.cart-summary dt {
  font-weight: 400;
}

.cart-summary dd {
  text-align: right;
  margin-bottom: 0;
}

.cart-summary dl:last-child {
  margin-bottom: 0;
}

.cart-summary .card-body {
  padding: 20px 25px;
}

.cart-summary .summary-balance {
  font-size: 20px;
  font-weight: 600;
  border-top: 1px solid #D6D6D6;
  margin: 40px -25px 0 -25px;
  padding: 20px 25px 0;
}

.cart-summary .summary-balance dt {
  font-weight: 600;
}

.cart-item .product-image {
  padding-bottom: 100%;
  border-radius: 15px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cart-item {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #D6D6D6;
}

.cart-item:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}

.cart-item .product-name,
.cart-item .product-points {
  font-size: 20px;
  margin-bottom: 12px;
}

.product-points {
  color: #EB018C;
}

.overflow-visible {
  overflow: visible;
}

.price h3 {
  display: inline-block;
}

.ori-price {
  text-decoration: line-through;
  color: #999 !important;
  font-weight: 400;
  font-size: 16px !important;
  margin-left: 10px;
}

.redeem-status {
  line-height: 1;
  padding: 4px 5px;
  color: white;
  font-size: 14px;
  font-family: "FS Albert Pro", sans-serif;
}

.redeem-status.rejected {
  background-color: #D33737;
}
.redeem-status.pending {
  background-color: #aaaaaa;
}
.redeem-status.confirmed {
  background-color: #37D36D;
}

#redemption-list .cart-item {
  border-bottom: 0;
}

/* #cart-complete .content { */
#cart-complete {
  font-size: 14px;
  color: white;
  background: #EC008C;
}

#cart-complete #app {
  padding-bottom: 100px;
  padding-top: 150px;
}

#cart-complete .content h2 {
  color: white;
  font-size: 50px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#cart-complete .content img {
  max-width: 100%;
}

@media (max-width: 767px) {
  #cart-complete #app {
    padding-bottom: 40px;
    padding-top: 40px;
  }

  #cart-complete .balloon {
    width: 100px;
  }

  #cart-complete .window {
    width: 250px;
  }

  #cart-complete .content h2 {
    font-size: 30px;
  }
}

.copy-alert {
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  top: 0;
  bottom:0;
  background-color: #EC008C;
  margin: 0;
  vertical-align: middle;
  padding: 14px 0 13px;

  animation: showHide linear 3s;
  animation-iteration-count: 1;
  color: white;
  font-weight: 700;
}

.copy-alert i {
  margin-right: 5px;
  font-size: 13px;
}

@media (max-width: 575px){
  .copy-alert {
    padding: 10px 0 9px;
  }
}

@keyframes showHide{
  0% {
    opacity:0;
  }
  5% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity:0;
  }
}

.no-item {
  min-height: 40vh;
  text-align: center;
  padding-top: 50px;
}

.alert-msg {
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-family: "FS Albert Pro", sans-serif;
}

.alert-danger a {
  color: #721c24;
  font-weight: bold;
}

.alert-danger a:hover {
  color: #EC008C;
}

a.badge-pink, a.badge-pink:focus {
  color: #EC008C;
  margin-bottom: 20px;
  font-family: "FS Albert Pro", sans-serif;
  font-size: 14px;
  padding: 5px 10px;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

a.badge-pink:hover {
  transform: translateY(-4px);
  -webkit-transform: translateY(-4px);
  color: #EC008C;
}

a.badge-pink i {
  margin-right: 3px;
}

@media (max-width: 767px) {
  a.badge-pink {
    display: block;
    padding: 10px;
  }
}

#noticeModal img {
  max-width: 100%;
}

#noticeModal .modal-dialog {
  width: 500px;
  max-width: 95%;
}

#noticeModal .modal-body {
  padding: 0;
}

#noticeModal .close {
  position: absolute;
  top: -10px;
  right: -10px;
  color: #fff;
  z-index: 9;
  font-size: 18px;
  opacity: 1;
  box-shadow: none;
  text-shadow: none;
  padding: 10px;
  /* background-color: #fff;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  line-height: 32px;
  text-align: center; */
}

#noticeModal .modal-content {
  background-color: transparent;
  border-radius: 0;
  border: 0;
}

.toggle-password {
  position: absolute;
  right: 20px;
  top: 26px;
  cursor: pointer;
  opacity: 0.3;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.toggle-password.fa-eye {
  opacity: 0.6;
}

.birthday-reminder {
  bottom:  80px;
  right: 15px;
  z-index: 9;
  position: fixed;
}

.birthday-reminder .toggle {
  background: #f58226 url('../../../images/2020/club/birthday-icon.png') no-repeat 13px 11px / 35px;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: wobble;
  animation-timing-function: ease-in-out;
}

.birthday-reminder .message  {
  background: #f58226;
  position: absolute;
  width: 200px;
  left: -220px;
  bottom: 13px;
  border-radius: 5px;
  padding: 8px;
  font-size: 14px;
  font-family: "FS Albert Pro", sans-serif;
  color: #fff;
  text-align: center;
  opacity: 0;
  pointer-events: none;
}

.birthday-reminder .message::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 0 6px 8px;
  border-color: transparent transparent transparent #f58226;
  right: -7px;
  bottom: 10px;
  position: absolute;
}

.birthday-reminder .message span {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

@media (min-width: 992px) {
  .birthday-reminder .message {
    -webkit-transition: all 0.2s linear 1s;
    -o-transition: all 0.2s linear 1s;
    transition: all 0.2s linear 1s;
  }
  .birthday-reminder:hover .message {
    opacity: 1;
    -webkit-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
  }
}

@media (max-width: 991px) {
  .birthday-reminder .message.show {
    opacity: 1;
    -webkit-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
    pointer-events: auto;
  }

  .birthday-reminder .message.show::before {
    content: "\f00d";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    background: white;
    border: 1px solid #f58226;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    position: absolute;
    right: -10px;
    top: -10px;
    color: #f58226;
    font-size: 12px;
    line-height: 19px;
    text-align: center;
  }
}

@keyframes wobble {
  30%, 70% {
    transform: rotate(0deg);
  }

  35%, 65% {
    transform: rotate(5deg);
  }

  40%, 60% {
    transform: rotate(-5deg);
  }

  45%, 55% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }
}

.birthday-alert {
  background-color: #f58226;
  color: white;
  border-radius: 10px;
  font-size: 12px;
  padding: 6px;
}

.birthday-alert img {
  width: 30px !important;
  max-width: 80%;
}

.birthday-icon  {
  background-color: #f58226;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  text-align: center;
  line-height: 35px;
  margin-right: 5px;
}

.birthday-icon img {
  max-width: 60%;
}

#progress-wrp {
  border: 1px solid #eee;
  padding: 1px;
  position: relative;
  height: 20px;
  border-radius: 3px;
  margin: 10px 0;
  text-align: left;
  background: #fff;
}

#progress-wrp .progress-bar {
  height: 100%;
  border-radius: 3px;
  background-color: #ec008c;
  width: 0;
}

#progress-wrp .status {
	top: 3px;
  left: 0;
  position: absolute;
  display: inline-block;
	text-shadow: 1px 1px 1px black;
  color: #fff;
  right: 0;
  text-align: center;
  font-size: 12px;
}
