.icon-48-packagefiles {
      background-image: url(../images/l_packagefiles.png);
      padding-left:60px!important;
}

.icon-48-packagefile {
      background-image: url(../images/l_packagefiles.png);
      padding-left:60px!important;
}

.color-box-packagefiles { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}



.other-filters{
    padding: 0 14px;
}