// default background color
$default-bg-color: #efeeee;

// border radius size
$border-radius: 8px;

// shadow color
$shadow-color: rgba(0, 0, 0, 0.15);

// label font size
$label-font-size: 13px;

// label color
$label-color: #fff;

// label padding
$label-padding: 0 10px 0 10px;

// stripe color opacity
$stripe-color-opacity: 0.150;

.acf_progressbar_wrapper {
    box-sizing: border-box;
    &, * {
        box-sizing: inherit;
    }

    .acf_progressbar {
        position: relative;
        background-color: $default-bg-color;

        &.acf_progressbar_shadow {
            box-shadow: inset 0px 1px 3px $shadow-color;
        }

        &.acf_progressbar_rounded {
            border-radius: $border-radius;
        }

        .acf_bar {
            height: 100%;
            
            &.acf_progressbar_stripes, &.acf_progressbar_animated {
                background: linear-gradient(
                    -45deg,
                    rgba(255, 255, 255, $stripe-color-opacity) 25%,
                    transparent 25%,
                    transparent 50%,
                    rgba(255, 255, 255, $stripe-color-opacity) 50%,
                    rgba(255, 255, 255, $stripe-color-opacity) 75%,
                    transparent 75%,
                    transparent
                );
                background-size: 35px 35px;
            }

            &.acf_progressbar_rounded {
                border-radius: $border-radius;
            }

            &.acf_progressbar_animated {
                animation: progressBarAnimated 2s linear infinite;
            }

            @keyframes progressBarAnimated {
                0% {
                  background-position: 0 0;
                }
                100% {
                  background-position: 35px 35px; 
                } 
            }
        }
    }

    .acf_progressbar_label {
        display:flex;
        align-items:center;
        justify-content: center;
        color:$label-color;
        font-size:$label-font-size;
        font-family:Arial;
        padding:$label-padding;
        height:100%;
        white-space:nowrap;

        &.acf_left {
            justify-content: flex-start;
        }
        &.acf_right {
            justify-content: flex-end;
        }
    }
}