.icon-48-channelprofilefiles {
      background-image: url(../images/l_channelprofilefiles.png);
      padding-left:60px!important;
}

.icon-48-channelprofilefile {
      background-image: url(../images/l_channelprofilefiles.png);
      padding-left:60px!important;
}

.color-box-channelprofilefiles { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-profilefilescategories {
      background-image: url(../images/l_profilefilescategories.png);
      padding-left:60px!important;
}

.icon-48-profilefilescategory {
      background-image: url(../images/l_profilefilescategories.png);
      padding-left:60px!important;
}

.color-box-profilefilescategories { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}



.other-filters{
    padding: 0 14px;
}